## [과제] 아래 가이드에 따라서 고객 구매데이터를 생성하고 아래사항을 수행하세요(관측치 10000개)

#### Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.
고객별 속성 데이터
- id : 1 ~ 10000번 거래건수
- customer : 1000
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성

거래 데이터
- day : 요일
- date : 2020-01-01 ~ 2021-12-31 사이의 날짜 1000개 생성
- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10 ~ 30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10 ~ 30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- time_20 : 01 ~ 24 사이 정수 난수 생성
- time_21 : 01 ~ 24 사이 정수 난수 생성
- amount_20 : price_19 * quantity_19
- amount_21 : price_20 * quantity_20
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요
- 전체 판매량에서 주말/평일 비율
- 성별 판매량
- 최우수고객
- 지역 제품
- 시간대별 주문량

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.

In [489]:
import pandas as pd
import numpy as np
from random import *
from datetime import datetime

arr = np.zeros((10000,18))
columns = ['order','customer','gender','age','region','day','date','product_20','product_21','price_20','price_21','quantity_20','quantity_21','time_20','time_21','amount_20','amount_21','sales']
index = [np.arange(10000)]
df = pd.DataFrame(arr,index,columns=columns)
df.gender=np.random.randint(0,2,size=10000)
df.age=np.random.randint(0,81,size=10000)
df.region=np.random.randint(1,10,size=10000)
df.customer=np.random.randint(1,1001,size=10000)

datelst=[]
for _ in range(10000):
    y=randint(2020,2021);m=randint(1,12);d=randint(1,28);s=f'{y}-{m}-{d}'
    datelst.append(datetime.strptime(s, '%Y-%m-%d'))
df.date = datelst

weeklst=[]; week = ['MON','TUE','WED','THU','FRI','SAT','SUN']
for i in datelst:
    weeklst.append(week[i.weekday()])
df.day=weeklst

df.product_20 = np.random.randint(10,31,size=10000)
df.product_20 = pd.cut(df.product_20, 3, labels=['고가', '중가', '저가'])
df.product_21 = np.random.randint(10,31,size=10000)
df.product_21 = pd.cut(df.product_21, 3, labels=['고가', '중가', '저가'])

df.price_20 = np.random.randint(10,500,10000) *100
df.price_21 = np.random.randint(10,500,10000)*100
df.quantity_20 = np.random.randint(1,101, size = 10000)
df.quantity_21 = np.random.randint(1,101, size = 10000)
df.time_20 = np.random.randint(1,25, size = 10000)
df.time_21 = np.random.randint(1,25, size = 10000)
df.amount_20 = (df.price_20 * df.quantity_20)
df.amount_21 = (df.price_21 * df.quantity_21)
df.sales = np.where( df.amount_20 < df.amount_21,1,0)
df=df.sort_values(by='date')
df.order=range(1,10001)
df=df.reset_index()
df=df.drop('level_0',axis=1)
df

,order,customer,gender,age,region,day,date,product_20,product_21,price_20,price_21,quantity_20,quantity_21,time_20,time_21,amount_20,amount_21,sales
0,1,99,1,36,6,WED,2020-01-01,고가,저가,18000,34200,38,51,11,20,684000,1744200,1
1,2,505,0,17,1,WED,2020-01-01,중가,저가,23200,18200,91,4,23,3,2111200,72800,0
2,3,357,1,64,2,WED,2020-01-01,중가,저가,5200,44100,87,47,20,6,452400,2072700,1
3,4,358,1,6,6,WED,2020-01-01,저가,고가,11700,6100,39,51,7,13,456300,311100,0
4,5,734,1,20,4,WED,2020-01-01,중가,저가,7600,42400,86,65,6,20,653600,2756000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,602,1,17,4,TUE,2021-12-28,고가,중가,46100,10900,36,73,5,11,1659600,795700,0
9996,9997,797,0,37,3,TUE,2021-12-28,저가,저가,40100,35700,57,31,17,15,2285700,1106700,0
9997,9998,196,0,77,2,TUE,2021-12-28,중가,저가,2900,39200,28,62,17,3,81200,2430400,1
9998,9999,6,0,60,2,TUE,2021-12-28,고가,저가,10400,29800,40,43,6,14,416000,1281400,1
9999,10000,371,0,6,3,TUE,2021-12-28,저가,저가,48700,43900,53,74,11,15,2581100,3248600,1

In [404]:
df=df.copy()
s20=df.amount_20.sum()
s21=df.amount_21.sum()
dfm=df.loc[(df.gender==0)]
dfw=df.loc[(df.gender==1)]
m20=dfm.amount_20.sum()
m21=dfm.amount_21.sum()
w20=dfw.amount_20.sum()
w21=dfw.amount_21.sum()

print(f'2020년 전체 판매량 {s20} 에서 남자 비율 {round((m20/s20)*100,2)}%, 여자 비율 {round((w20/s20)*100,2)}% 입니다.')
print(f'2021년 전체 판매량 {s21} 에서 남자 비율 {round((m21/s21)*100,2)}%, 여자 비율 {round((w21/s21)*100,2)}% 입니다.')

2020년 전체 판매량 12795444.0 에서 남자 비율 51.1%, 여자 비율 48.9% 입니다.
2021년 전체 판매량 12875742.0 에서 남자 비율 50.46%, 여자 비율 49.54% 입니다.

In [150]:

dfweek=df.loc[(df.day=='SAT')|(df.day=='SUN')]
w20=dfweek.amount_20.sum()
w21=dfweek.amount_21.sum()
print(f'2020년 전체 판매량 {s20} 중 주말 판매량은 {w20} 이며, 비율은 {round((w20/s20)*100,2)}% 입니다.')
print(f'2021년 전체 판매량 {s21} 중 주말 판매량은 {w21} 이며, 비율은 {round((w21/s21)*100,2)}% 입니다.')

2020년 전체 판매량 12982305.0 중 주말 판매량은 3687250.0 이며, 비율은 28.4% 입니다.
2021년 전체 판매량 12945106.0 중 주말 판매량은 3605312.0 이며, 비율은 27.85% 입니다.

In [424]:
import warnings
warnings.filterwarnings('ignore')
dfvip=df[['customer','amount_20','amount_21']]
df20=dfvip.groupby('customer').sum().sort_values(by='amount_20').tail(1).index[0]
df21=dfvip.groupby('customer').sum().sort_values(by='amount_21').tail(1).index[0]
dfvip['total']=dfvip.amount_20 + dfvip.amount_21
dfsvip=dfvip.sort_values(by='total').tail(1).iloc[0,0]

print(f'2020년 vip No.{df20}')
print(f'2021년 vip No.{df21}')
print(f'2020년~2021년 통합 vip No.{dfsvip}')

2020년 vip No.893
2021년 vip No.966
2020년~2021년 통합 vip No.390

In [ ]:
dfr=df[['region','product_21']]
grp=dfr.groupby(['region','product_21']).size().to_frame('size')
grp=grp.reset_index()
grp=grp.sort_values(by=['region','size'])

lst=[]
for i in range(9):
    lst.append(grp.iloc[2+(3*i):3+(3*i),0:3])
grp=grp.reset_index()
grp=grp.drop('index',axis=1)
print('지역별 품목 판매량')
print(grp)

print()
print('지역별 최대 판매 품목')
lst

In [492]:
def tc(x):
    if x<7:
        return '새벽'
    elif x<13:
        return '오전'
    elif x<19:
        return '오후'
    else:
        return '저녁'
df['time_20']=df['time_20'].apply(tc)
df['time_21']=df['time_21'].apply(tc)

In [493]:
df=df.copy()
print(df.groupby('time_20').size())
print()
print(df.groupby('time_21').size())

time_20
새벽    2527
오전    2546
오후    2423
저녁    2504
dtype: int64

time_21
새벽    2470
오전    2517
오후    2524
저녁    2489
dtype: int64