## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 : 정현우
- 점수 :

※ 문제당 5점으로 채점

- 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [28]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
    if i%5==0 and i>5:
        print(i,end=" ")

15 20 25

- 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [4]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [24]:
def power(item):
    return item * item
def under_3(item):
    return item < 3

list_input_a = [1, 2, 3, 4, 5]

lst1=[]
lst2=[]
for i in list_input_a:
    lst1.append(power(i))
    if under_3(i):
        lst2.append(i)
        
print(lst1,',',lst2)

[1, 4, 9, 16, 25] , [1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [30]:
a=int(input())

if a%2==0:
    print("짝수")
else:
    print("홀수")

정수입력 : 2
짝

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [33]:
lam=lambda x,y:x**y
a = 2; b = 5
print(lam(a,b)-a*b)
a= 5; b = 2
print(lam(a,b)-a*b)

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [97]:
a=input()
lst=list(a)
count=0
lst.sort(reverse=True)
ls=[]
for i in lst:
    if count ==3:
        count=0
        ls.append((','))
    count+=1
    ls.append((i))

for i in ls[::-1]:
    print(i,end="")

123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [99]:
example_list = ["요소A", "요소B", "요소C"]
count=0
for i in example_list:
    print(f'{count}번째 요소는 {i}입니다.')
    count+=1

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [100]:
divmod(97,40)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [130]:
list_number = [52, 273, 32, 72, 100]
try:
    a=input()
    a=int(a)
    print(f'{a}번째 처리요소 : {list_number[a]}')
except (ValueError):    
    print('정수를 입력해 주세요!')
else:
    print('리스트의 인덱스를 벗어났어요!')
finally:
    print('예외 처리 완료')

list
정수를 입력해 주세요!
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [131]:
a,b=map(int,input().split())
print(max(a,b))

1 3
3

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [134]:
lst=[]
for i in range(1,100):
    lst.append(i*(100-i))
print(max(lst))

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [148]:
import re
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p=re.compile("\d{3}")
m=p.search(text)
print(m.group())

032

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [150]:
t='abcdefghij'
p=re.compile("(a(b(c(d(e)f)g)h)i)j")
m=p.search(t)
print(m.group(1))
print(m.group(5))

abcdefghi
e

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [159]:
lst=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del lst[9]
del lst[-3]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [160]:
sum=0
for i in range(500,1001):
    if i%5==0 and i%7==0:
        sum+=i
print(sum)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [165]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

for number in numbers:
    output[i for i in [numbers].append(number)

SyntaxError: invalid syntax (Temp/ipykernel_1028/1578839539.py, line 5)

In [293]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]
# output = [[1, 4, 7], [2, 5, 8], [3, 6, 9]]


for i in numbers:
    if i in (1,4,7):
        output[0].append(i)
    elif i in (2,5,8):
        output[1].append(i)
    else:
        output[2].append(i)
            
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [198]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
numbers.sort()
lst=[]

for i in range(2,10):
    lst.append(numbers.count(i))

for i in zip(set(numbers),lst):
    print(i)

(2, 2)
(3, 4)
(4, 2)
(5, 2)
(6, 2)
(7, 2)
(8, 2)
(9, 2)

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [220]:
class Country():
    
    def __init__(self,c,i,s):
        self.c= c
        self.i= i
        self.s= s
        
    def desc(self):
        print(f'{self.c}의 인구는 {self.i}천만명이며 수도는 {self.s}입니다.')


class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [227]:
class Cal():
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b
    def mul(self,a,b):
        return a*b
    def div(self,a,b):
        return a/b
    
a=Cal()

print(a.add(10,5))
print(a.sub(10,5))
print(a.mul(10,5))
print(a.div(10,5))

15
5
50
2.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [301]:
import time
import datetime

a=datetime.datetime.now()
print(a)

2022-01-07 15:56:52.751524

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [230]:
with fileopen('r','data/names/yob2015.txt') as f:
    data=f.filereads()
    print(data)

NameError: name 'fileopen' is not defined