In [5]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [6]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [7]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')
    
say()

Hi

In [12]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

# print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

30

In [16]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [18]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [22]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [23]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [79]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    sum=0
    mul=1
    if choice == '+':
        for i in args:
            sum+=i
        return sum    
    elif choice == '*':
        for i in args:
            mul*=i
        return mul

           
print(add_mul('*',1,2,3,4,5))
print(add_mul('+',1,2,3,4,5))

120
15

In [75]:
# [과제] 뻴셈, 나눗셈 멀티 계산 함수를 작성
# ('sub', 2,4,6,8,10)
# ('div', 2,4,6,8,10)
def subdiv(choice,*args):
    lst=[]
    result=0
    a=0
    for i in args:
        lst.append(i)
        
    if choice == '-':
        for i in range(len(lst)-1):
            result=result-lst[i+1]
        return result+lst[0]
    
    if choice == '/':
        ini=lst[0]/lst[1]
        for i in range(len(lst)-2):
            ini=ini/lst[i+2]
        return ini
        


print(subdiv('-',2,4,6,8,10))
print(subdiv('/',2,4,6,8,10))

-26
0.1

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):    
    a = a + 1
    
print(vartest(a))
print(a)

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a =  a+1
    return a
a = vartest(a)
print(a)

In [ ]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

In [3]:
f= open('test1.txt','w')
for i in range(1,11):
    data = f"{i}번째 줄 입니다.\n"
    f.write(data)
f.close()

In [8]:
f= open('test1.txt','r')
for i in range(1,11):
    line = f.readline()
    print(line)
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [12]:
f= open('test1.txt','r')
while True:
    
    line=f.readline()
    if not line: break
    print (line)
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [14]:
f= open('test1.txt','r')
data=f.read()
print(data)
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [ ]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [15]:
with open('foo.txt','w') as f:
    f.write( '파이썬을 배웁시다')

In [23]:
with open('test1.txt','w')as f :
    for i in range(1,11):
        data = f"{i}번째 줄 입니다.\n"
        f.write(data)

In [25]:
with open('test1.txt','r') as f :
    data = f.read()
    print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [ ]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))

In [ ]:
sum = lambda a,b:a+b
sum(3,4)

In [ ]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

In [ ]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

In [ ]:
list(range(5))
list(range(1,6))
list(range(1,10, 2))
list(range(0, -10, -1))

In [ ]:
print(divmod(7,3))

In [32]:
for i,name in enumerate(['james','tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

In [ ]:
# 정렬된 결과를 반환하는 함수는 본체는 변형되지 않는다.
li = [0,2,1,5,4]
s = sorted(li)
print(s)
li

In [34]:
import pickle

f=open('test.txt','wb')
data={1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [38]:
f=open('test.txt','rb')
data=pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [42]:
%pwd

'C:\\GitHub\\cakd5\\m1_programming'

In [ ]:
import os
os.environ['PATH']

In [ ]:
# 폴더변경
os.chdir('C:\cakd5\workspace')

In [ ]:
os.chdir('C:\cakd5\workspace\m1_programming')

In [ ]:
os.getcwd()

In [ ]:
!dir

In [43]:
os.rename('test1.txt','text1.txt')

In [46]:
import glob
glob.glob('C:\\GitHub\\cakd5\\m1_programming/*')

['C:\\GitHub\\cakd5\\m1_programming\\foo.txt',
 'C:\\GitHub\\cakd5\\m1_programming\\jupyter notebook basic.ipynb',
 'C:\\GitHub\\cakd5\\m1_programming\\python basic.ipynb',
 'C:\\GitHub\\cakd5\\m1_programming\\python basic2.ipynb',
 'C:\\GitHub\\cakd5\\m1_programming\\test.txt',
 'C:\\GitHub\\cakd5\\m1_programming\\text1.txt',
 'C:\\GitHub\\cakd5\\m1_programming\\매직명령어.jpg',
 'C:\\GitHub\\cakd5\\m1_programming\\함수.ipynb',
 'C:\\GitHub\\cakd5\\m1_programming\\환경설정_anaconda.pptx']

In [ ]:
import time
time.time()

In [ ]:
time.localtime(time.time())

In [ ]:
time.asctime(time.localtime(time.time()))

In [ ]:
import time
for i in range(5):
    print(i)
    time.sleep(2)

In [ ]:
for i,name in enumerate(['james','tom','susan']):
    print(i,name)

In [ ]:
import calendar
type(calendar.prmonth(2021,12))

In [ ]:
# 요일(0 월요일 ~ 6 일요일)
print(calendar.weekday(2021,12,31))

In [ ]:
# 1일의 요일, 날수
calendar.monthrange(2022,1)

In [ ]:
import webbrowser

webbrowser.open('naver.com')

In [158]:
lst=[0,1,2,3,4,5,6]

lst.remove(2)

print(lst)

[0, 1, 2, 3, 4, 6]

In [ ]:
lt = [0, 1, 2, 3, 4, 5, 6]
print(lt)
lt.pop(2)
print(lt)

In [57]:
lst=[0,1,2,3,4,5,6]

for i in range(len(lst)):
    print(lst[0])
    del lst[0]

0
1
2
3
4
5
6

In [78]:
a=list(map(lambda x: x ** 2, range(1,6)))
print(a)

[1, 4, 9, 16, 25]

In [83]:
lst=[1,-3,2,0,-5,6]
a=[]
for i in lst:
    if i>0:
        a.append(i)
print(a)

[1, 2, 6]

In [151]:
a=[[1,2,3],[4,5,6]]
lst=[]
res=[]


for i in range(len(a)):
    for j in range(len(a[1])):
        lst.append(a[i][j])
for i in range(len(a[1])):
    tup=[]
    tup.append(lst[i])
    tup.append(lst[i+3])
    tup=tuple(tup)
    res.append(tup)
print(res)

[(1, 4), (2, 5), (3, 6)]

In [152]:
a=[[1,2,3],[4,5,6],[7,8,9]]
lst=[]
res=[]


for i in range(len(a)):
    for j in range(len(a[1])):
        lst.append(a[i][j])
for i in range(len(a[1])):
    tup=[]
    tup.append(lst[i])
    tup.append(lst[i+3])
    tup.append(lst[i+6])
    tup=tuple(tup)
    res.append(tup)
print(res)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [185]:
a=('abc','def')
lst=[]
res=[]

for i in range(len(a)):
    b=a[i]
    lst.extend(list(b))

for i in range(len(a[1])):
    tup=[]
    tup.append(lst[i])
    tup.append(lst[i+3])
    tup=tuple(tup)
    res.append(tup)   
    
print(res)

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [186]:
num=[1,2,3]
it=['a','b','c']

for i in zip(num,it):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [211]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.
sum=0
a=list(map(int,input("수 입력 : ").split(',')))

for i in a:
    sum+=i
print(sum/len(a))

수 입력 : 5,8,3
5.333333333333333

In [27]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
rank=[]
for i in strings:
    lst=[]
    lst.extend(i)
    rank.append(len(set(lst)))

dic=dict(zip(strings,rank))
print(sorted(dic.items(), key=lambda x:x[1],reverse=True))

[('bar', 3), ('ca', 2), ('ababa', 2), ('a', 1), ('aaaa', 1)]

In [29]:
# [과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
rank=[]
for i in strings:
    lst=[]
    lst.extend(i)
    rank.append(len(set(lst)))

dic=dict(zip(strings,rank))
print(sorted(dic.items(), key=lambda x:x[1],reverse=True))

[('bar', 3), ('ca', 2), ('ababa', 2), ('a', 1), ('aaaa', 1)]