In [1]:
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn import svm
from sklearn.svm import SVC
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import Binarizer
from sklearn.metrics import accuracy_score, precision_score , recall_score , confusion_matrix
from sklearn.model_selection import GridSearchCV
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

C:\Users\hyeonu\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [102]:
df1=pd.read_csv('C:/1차data/8사분류피벗.csv',encoding='cp949')
df2=pd.read_csv('C:/1차data/8제휴사피벗.csv',encoding='cp949')
df3=pd.read_csv('C:/1차data/8분기별피벗.csv',encoding='cp949')
df1.fillna(0,inplace=True)
df2.fillna(0,inplace=True)
df3.fillna(0,inplace=True)
display(df1)
display(df2)
display(df3)

,고객번호,편의품구매횟수,선매품구매횟수,전문품구매횟수,기타품구매횟수,편의품총구매액,선매품총구매액,전문품총구매액,기타품총구매액,편의품객단가,선매품객단가,전문품객단가,기타품객단가
0,1,626.0,300.0,1.0,52.0,13674090.0,65199093.0,509218.0,1014640.0,21843.594249,217330.310000,509218.00,19512.307692
1,2,716.0,260.0,5.0,16.0,19553459.0,69412816.0,1946464.0,804417.0,27309.300279,266972.369231,389292.80,50276.062500
2,3,1096.0,2.0,0.0,0.0,2924361.0,112799.0,0.0,0.0,2668.212591,56399.500000,0.00,0.000000
3,4,648.0,125.0,1.0,49.0,5170256.0,9696010.0,191459.0,654163.0,7978.790123,77568.080000,191459.00,13350.265306
4,6,1160.0,158.0,5.0,51.0,9115844.0,11971079.0,343531.0,693497.0,7858.486207,75766.322785,68706.20,13597.980392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,609.0,8.0,0.0,117.0,3089640.0,140012.0,0.0,1110164.0,5073.300493,17501.500000,0.00,9488.581197
18862,19334,1857.0,43.0,0.0,16.0,10824159.0,1152765.0,0.0,130066.0,5828.841680,26808.488372,0.00,8129.125000
18863,19335,1389.0,127.0,0.0,127.0,10323860.0,3055575.0,0.0,1876057.0,7432.584593,24059.645669,0.00,14772.102362
18864,19336,53.0,165.0,4.0,167.0,2360560.0,20781966.0,798775.0,2650932.0,44538.867925,125951.309091,199693.75,15873.844311
18865,19337,1046.0,8.0,0.0,0.0,3752396.0,316900.0,0.0,0.0,3587.376673,39612.500000,0.00,0.000000

,고객번호,A구매횟수,B구매횟수,C구매횟수,D구매횟수,A총구매액,B총구매액,C총구매액,D총구매액,A객단가,B객단가,C객단가,D객단가
0,1,813.0,60.0,106.0,0.0,78803680.0,693372.0,899989.0,0.0,96929.495695,11556.200000,8490.462264,0.000000
1,2,961.0,16.0,0.0,20.0,91275153.0,207512.0,0.0,234491.0,94979.347555,12969.500000,0.000000,11724.550000
2,3,1.0,2.0,1095.0,0.0,82407.0,7863.0,2946890.0,0.0,82407.000000,3931.500000,2691.223744,0.000000
3,4,572.0,117.0,134.0,0.0,13581812.0,1390052.0,740024.0,0.0,23744.426573,11880.786325,5522.567164,0.000000
4,6,308.0,1027.0,39.0,0.0,13922922.0,7684815.0,516214.0,0.0,45204.292208,7482.779942,13236.256410,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,375.0,280.0,9.0,70.0,2435869.0,1028029.0,22311.0,853607.0,6495.650667,3671.532143,2479.000000,12194.385714
18862,19334,3.0,1659.0,254.0,0.0,430219.0,10983463.0,693308.0,0.0,143406.333333,6620.532248,2729.559055,0.000000
18863,19335,10.0,1283.0,350.0,0.0,1293306.0,12392257.0,1569929.0,0.0,129330.600000,9658.812938,4485.511429,0.000000
18864,19336,384.0,1.0,0.0,4.0,26530085.0,26466.0,0.0,35682.0,69088.763021,26466.000000,0.000000,8920.500000
18865,19337,4.0,10.0,1040.0,0.0,281660.0,75428.0,3712208.0,0.0,70415.000000,7542.800000,3569.430769,0.000000

,고객번호,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,1기총구매액,2기총구매액,...,5기총구매액,6기총구매액,7기총구매액,1기객단가,2기객단가,3기객단가,4기객단가,5기객단가,6기객단가,7기객단가
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,8995824.0,11108203.0,...,9408643.0,9217176.0,8792000.0,74345.652893,94941.905983,85782.309859,96701.434579,54701.412791,65836.971429,120438.356164
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,13898280.0,10506625.0,...,18691374.0,9983629.0,15589936.0,75534.130435,67784.677419,120630.856115,47572.901515,128906.027586,86065.767241,123729.650794
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,297954.0,564936.0,...,282483.0,335595.0,474158.0,2143.553957,2703.043062,2976.796748,2412.013793,3246.931034,2523.270677,3411.208633
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,1288767.0,3844763.0,...,1757018.0,2058510.0,2395619.0,13857.709677,21721.824859,32357.870588,18583.816092,14401.786885,14599.361702,20301.855932
4,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,2131469.0,3209003.0,...,3660327.0,2970188.0,3962173.0,11101.401042,16713.557292,20078.061798,13994.096257,15444.417722,18563.675000,17377.951754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,603348.0,941484.0,...,860360.0,593631.0,283814.0,5435.567568,5538.141176,7258.533333,3774.869159,6517.878788,7328.777778,6600.325581
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,820744.0,2787328.0,...,1719235.0,822816.0,546127.0,6217.757576,5608.305835,5878.737374,7044.408451,7315.893617,4840.094118,17066.468750
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,922771.0,2866847.0,...,2224410.0,3059050.0,1749762.0,9713.378947,9718.125424,9566.704380,7075.683594,7972.795699,13017.234043,8372.066986
18864,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,442432.0,3421816.0,...,2929416.0,3887504.0,7120188.0,55304.000000,43869.435897,44632.662500,68687.684211,46498.666667,117803.151515,139611.529412
18865,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,16257.0,74136.0,...,540429.0,708033.0,1370020.0,2322.428571,3530.285714,3531.279793,4017.065089,3832.829787,3233.027397,4506.644737

In [106]:
for i in range(1,8):
    df3[f'{i}기객단가']=round(df3[f'{i}기총구매액']/df3[f'{i}기구매횟수'],2)
df3

,고객번호,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,1기총구매액,2기총구매액,...,5기총구매액,6기총구매액,7기총구매액,1기객단가,2기객단가,3기객단가,4기객단가,5기객단가,6기객단가,7기객단가
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,8995824.0,11108203.0,...,9408643.0,9217176.0,8792000.0,74345.65,94941.91,85782.31,96701.43,54701.41,65836.97,120438.36
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,13898280.0,10506625.0,...,18691374.0,9983629.0,15589936.0,75534.13,67784.68,120630.86,47572.90,128906.03,86065.77,123729.65
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,297954.0,564936.0,...,282483.0,335595.0,474158.0,2143.55,2703.04,2976.80,2412.01,3246.93,2523.27,3411.21
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,1288767.0,3844763.0,...,1757018.0,2058510.0,2395619.0,13857.71,21721.82,32357.87,18583.82,14401.79,14599.36,20301.86
4,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,2131469.0,3209003.0,...,3660327.0,2970188.0,3962173.0,11101.40,16713.56,20078.06,13994.10,15444.42,18563.68,17377.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,603348.0,941484.0,...,860360.0,593631.0,283814.0,5435.57,5538.14,7258.53,3774.87,6517.88,7328.78,6600.33
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,820744.0,2787328.0,...,1719235.0,822816.0,546127.0,6217.76,5608.31,5878.74,7044.41,7315.89,4840.09,17066.47
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,922771.0,2866847.0,...,2224410.0,3059050.0,1749762.0,9713.38,9718.13,9566.70,7075.68,7972.80,13017.23,8372.07
18864,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,442432.0,3421816.0,...,2929416.0,3887504.0,7120188.0,55304.00,43869.44,44632.66,68687.68,46498.67,117803.15,139611.53
18865,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,16257.0,74136.0,...,540429.0,708033.0,1370020.0,2322.43,3530.29,3531.28,4017.07,3832.83,3233.03,4506.64

In [107]:
lst=['A','B','C','D']
for i in lst:
    df2[f'{i}객단가']=round(df2[f'{i}총구매액']/df2[f'{i}구매횟수'],2)
df2

,고객번호,A구매횟수,B구매횟수,C구매횟수,D구매횟수,A총구매액,B총구매액,C총구매액,D총구매액,A객단가,B객단가,C객단가,D객단가
0,1,813.0,60.0,106.0,0.0,78803680.0,693372.0,899989.0,0.0,96929.50,11556.20,8490.46,NaN
1,2,961.0,16.0,0.0,20.0,91275153.0,207512.0,0.0,234491.0,94979.35,12969.50,NaN,11724.55
2,3,1.0,2.0,1095.0,0.0,82407.0,7863.0,2946890.0,0.0,82407.00,3931.50,2691.22,NaN
3,4,572.0,117.0,134.0,0.0,13581812.0,1390052.0,740024.0,0.0,23744.43,11880.79,5522.57,NaN
4,6,308.0,1027.0,39.0,0.0,13922922.0,7684815.0,516214.0,0.0,45204.29,7482.78,13236.26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,375.0,280.0,9.0,70.0,2435869.0,1028029.0,22311.0,853607.0,6495.65,3671.53,2479.00,12194.39
18862,19334,3.0,1659.0,254.0,0.0,430219.0,10983463.0,693308.0,0.0,143406.33,6620.53,2729.56,NaN
18863,19335,10.0,1283.0,350.0,0.0,1293306.0,12392257.0,1569929.0,0.0,129330.60,9658.81,4485.51,NaN
18864,19336,384.0,1.0,0.0,4.0,26530085.0,26466.0,0.0,35682.0,69088.76,26466.00,NaN,8920.50
18865,19337,4.0,10.0,1040.0,0.0,281660.0,75428.0,3712208.0,0.0,70415.00,7542.80,3569.43,NaN

In [108]:
lst=['편의품','선매품','전문품','기타품']
for i in lst:
    df1[f'{i}객단가']=round(df1[f'{i}총구매액']/df1[f'{i}구매횟수'],2)
df1

,고객번호,편의품구매횟수,선매품구매횟수,전문품구매횟수,기타품구매횟수,편의품총구매액,선매품총구매액,전문품총구매액,기타품총구매액,편의품객단가,선매품객단가,전문품객단가,기타품객단가
0,1,626.0,300.0,1.0,52.0,13674090.0,65199093.0,509218.0,1014640.0,21843.59,217330.31,509218.00,19512.31
1,2,716.0,260.0,5.0,16.0,19553459.0,69412816.0,1946464.0,804417.0,27309.30,266972.37,389292.80,50276.06
2,3,1096.0,2.0,0.0,0.0,2924361.0,112799.0,0.0,0.0,2668.21,56399.50,NaN,NaN
3,4,648.0,125.0,1.0,49.0,5170256.0,9696010.0,191459.0,654163.0,7978.79,77568.08,191459.00,13350.27
4,6,1160.0,158.0,5.0,51.0,9115844.0,11971079.0,343531.0,693497.0,7858.49,75766.32,68706.20,13597.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,609.0,8.0,0.0,117.0,3089640.0,140012.0,0.0,1110164.0,5073.30,17501.50,NaN,9488.58
18862,19334,1857.0,43.0,0.0,16.0,10824159.0,1152765.0,0.0,130066.0,5828.84,26808.49,NaN,8129.12
18863,19335,1389.0,127.0,0.0,127.0,10323860.0,3055575.0,0.0,1876057.0,7432.58,24059.65,NaN,14772.10
18864,19336,53.0,165.0,4.0,167.0,2360560.0,20781966.0,798775.0,2650932.0,44538.87,125951.31,199693.75,15873.84
18865,19337,1046.0,8.0,0.0,0.0,3752396.0,316900.0,0.0,0.0,3587.38,39612.50,NaN,NaN

In [110]:
lst=['편의품','선매품','전문품','기타품']
for i in lst:
    df1[f'{i}구매비율(%)']=round(df1[f'{i}객단가']/df1.iloc[:,10:].sum(axis=1)*100,2)
df1

,고객번호,편의품구매횟수,선매품구매횟수,전문품구매횟수,기타품구매횟수,편의품총구매액,선매품총구매액,전문품총구매액,기타품총구매액,편의품객단가,선매품객단가,전문품객단가,기타품객단가,편의품구매비율(%),선매품구매비율(%),전문품구매비율(%),기타품구매비율(%)
0,1,626.0,300.0,1.0,52.0,13674090.0,65199093.0,509218.0,1014640.0,21843.59,217330.31,509218.00,19512.31,2.93,29.13,68.25,2.62
1,2,716.0,260.0,5.0,16.0,19553459.0,69412816.0,1946464.0,804417.0,27309.30,266972.37,389292.80,50276.06,3.87,37.79,55.10,7.11
2,3,1096.0,2.0,0.0,0.0,2924361.0,112799.0,0.0,0.0,2668.21,56399.50,0.00,0.00,4.73,99.99,0.00,0.00
3,4,648.0,125.0,1.0,49.0,5170256.0,9696010.0,191459.0,654163.0,7978.79,77568.08,191459.00,13350.27,2.83,27.47,67.80,4.73
4,6,1160.0,158.0,5.0,51.0,9115844.0,11971079.0,343531.0,693497.0,7858.49,75766.32,68706.20,13597.98,4.97,47.93,43.45,8.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,609.0,8.0,0.0,117.0,3089640.0,140012.0,0.0,1110164.0,5073.30,17501.50,0.00,9488.58,18.80,64.80,0.00,35.05
18862,19334,1857.0,43.0,0.0,16.0,10824159.0,1152765.0,0.0,130066.0,5828.84,26808.49,0.00,8129.12,16.68,76.70,0.00,23.21
18863,19335,1389.0,127.0,0.0,127.0,10323860.0,3055575.0,0.0,1876057.0,7432.58,24059.65,0.00,14772.10,19.14,61.93,0.00,37.96
18864,19336,53.0,165.0,4.0,167.0,2360560.0,20781966.0,798775.0,2650932.0,44538.87,125951.31,199693.75,15873.84,13.04,36.88,58.46,4.65
18865,19337,1046.0,8.0,0.0,0.0,3752396.0,316900.0,0.0,0.0,3587.38,39612.50,0.00,0.00,9.06,99.98,0.00,0.00

In [63]:
df2.iloc[:,9:]

                A객단가          B객단가          C객단가          D객단가
0       96929.495695  11556.200000   8490.462264      0.000000
1       94979.347555  12969.500000      0.000000  11724.550000
2       82407.000000   3931.500000   2691.223744      0.000000
3       23744.426573  11880.786325   5522.567164      0.000000
4       45204.292208   7482.779942  13236.256410      0.000000
...              ...           ...           ...           ...
18861    6495.650667   3671.532143   2479.000000  12194.385714
18862  143406.333333   6620.532248   2729.559055      0.000000
18863  129330.600000   9658.812938   4485.511429      0.000000
18864   69088.763021  26466.000000      0.000000   8920.500000
18865   70415.000000   7542.800000   3569.430769      0.000000

[18866 rows x 4 columns]

In [111]:
for i in range(1,8):
    df3[f'{i}구매비율(%)']=round(df3[f'{i}기객단가']/df3.iloc[:,15:].sum(axis=1)*100,2)
df3

,고객번호,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,1기총구매액,2기총구매액,...,5기객단가,6기객단가,7기객단가,1구매비율(%),2구매비율(%),3구매비율(%),4구매비율(%),5구매비율(%),6구매비율(%),7구매비율(%)
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,8995824.0,11108203.0,...,54701.41,65836.97,120438.36,12.54,16.02,14.47,16.31,9.23,11.11,20.32
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,13898280.0,10506625.0,...,128906.03,86065.77,123729.65,11.62,10.42,18.55,7.32,19.82,13.23,19.03
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,297954.0,564936.0,...,3246.93,2523.27,3411.21,11.04,13.91,15.31,12.40,16.68,12.95,17.49
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,1288767.0,3844763.0,...,14401.79,14599.36,20301.86,10.20,15.99,23.82,13.68,10.60,10.74,14.94
4,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,2131469.0,3209003.0,...,15444.42,18563.68,17377.95,9.80,14.75,17.72,12.35,13.63,16.38,15.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,603348.0,941484.0,...,6517.88,7328.78,6600.33,12.80,13.04,17.09,8.88,15.33,17.24,15.52
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,820744.0,2787328.0,...,7315.89,4840.09,17066.47,11.52,10.39,10.89,13.04,13.54,8.96,31.58
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,922771.0,2866847.0,...,7972.80,13017.23,8372.07,14.84,14.85,14.61,10.81,12.17,19.87,12.78
18864,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,442432.0,3421816.0,...,46498.67,117803.15,139611.53,10.71,8.49,8.64,13.30,9.00,22.81,27.03
18865,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,16257.0,74136.0,...,3832.83,3233.03,4506.64,9.30,14.13,14.13,16.06,15.31,12.91,17.99

In [112]:
lst=['A','B','C','D']
for i in lst:
    df2[f'{i}구매비율(%)']=round(df2[f'{i}객단가']/df2.iloc[:,9:].sum(axis=1)*100,2)
df2

,고객번호,A구매횟수,B구매횟수,C구매횟수,D구매횟수,A총구매액,B총구매액,C총구매액,D총구매액,A객단가,B객단가,C객단가,D객단가,A구매비율(%),B구매비율(%),C구매비율(%),D구매비율(%)
0,1,813.0,60.0,106.0,0.0,78803680.0,693372.0,899989.0,0.0,96929.50,11556.20,8490.46,0.00,82.86,9.87,7.25,0.00
1,2,961.0,16.0,0.0,20.0,91275153.0,207512.0,0.0,234491.0,94979.35,12969.50,0.00,11724.55,79.37,10.83,0.00,9.79
2,3,1.0,2.0,1095.0,0.0,82407.0,7863.0,2946890.0,0.0,82407.00,3931.50,2691.22,0.00,92.56,4.41,3.02,0.00
3,4,572.0,117.0,134.0,0.0,13581812.0,1390052.0,740024.0,0.0,23744.43,11880.79,5522.57,0.00,57.71,28.83,13.39,0.00
4,6,308.0,1027.0,39.0,0.0,13922922.0,7684815.0,516214.0,0.0,45204.29,7482.78,13236.26,0.00,68.57,11.34,20.05,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,375.0,280.0,9.0,70.0,2435869.0,1028029.0,22311.0,853607.0,6495.65,3671.53,2479.00,12194.39,26.15,14.76,9.96,48.99
18862,19334,3.0,1659.0,254.0,0.0,430219.0,10983463.0,693308.0,0.0,143406.33,6620.53,2729.56,0.00,93.88,4.33,1.79,0.00
18863,19335,10.0,1283.0,350.0,0.0,1293306.0,12392257.0,1569929.0,0.0,129330.60,9658.81,4485.51,0.00,90.14,6.73,3.12,0.00
18864,19336,384.0,1.0,0.0,4.0,26530085.0,26466.0,0.0,35682.0,69088.76,26466.00,0.00,8920.50,66.13,25.32,0.00,8.53
18865,19337,4.0,10.0,1040.0,0.0,281660.0,75428.0,3712208.0,0.0,70415.00,7542.80,3569.43,0.00,86.37,9.24,4.37,0.00

In [70]:
display(df1)
display(df2)
display(df3)

,고객번호,편의품구매횟수,선매품구매횟수,전문품구매횟수,기타품구매횟수,편의품총구매액,선매품총구매액,전문품총구매액,기타품총구매액,편의품객단가,선매품객단가,전문품객단가,기타품객단가,편의품구매비율(%),선매품구매비율(%),전문품구매비율(%),기타품구매비율(%)
0,1,626.0,300.0,1.0,52.0,13674090.0,65199093.0,509218.0,1014640.0,21843.594249,217330.310000,509218.00,19512.307692,2.93,29.13,68.25,2.62
1,2,716.0,260.0,5.0,16.0,19553459.0,69412816.0,1946464.0,804417.0,27309.300279,266972.369231,389292.80,50276.062500,3.87,37.79,55.10,7.11
2,3,1096.0,2.0,0.0,0.0,2924361.0,112799.0,0.0,0.0,2668.212591,56399.500000,0.00,0.000000,4.73,99.99,0.00,0.00
3,4,648.0,125.0,1.0,49.0,5170256.0,9696010.0,191459.0,654163.0,7978.790123,77568.080000,191459.00,13350.265306,2.83,27.47,67.80,4.73
4,6,1160.0,158.0,5.0,51.0,9115844.0,11971079.0,343531.0,693497.0,7858.486207,75766.322785,68706.20,13597.980392,4.97,47.93,43.45,8.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,609.0,8.0,0.0,117.0,3089640.0,140012.0,0.0,1110164.0,5073.300493,17501.500000,0.00,9488.581197,18.80,64.80,0.00,35.05
18862,19334,1857.0,43.0,0.0,16.0,10824159.0,1152765.0,0.0,130066.0,5828.841680,26808.488372,0.00,8129.125000,16.68,76.70,0.00,23.21
18863,19335,1389.0,127.0,0.0,127.0,10323860.0,3055575.0,0.0,1876057.0,7432.584593,24059.645669,0.00,14772.102362,19.14,61.93,0.00,37.96
18864,19336,53.0,165.0,4.0,167.0,2360560.0,20781966.0,798775.0,2650932.0,44538.867925,125951.309091,199693.75,15873.844311,13.04,36.88,58.46,4.65
18865,19337,1046.0,8.0,0.0,0.0,3752396.0,316900.0,0.0,0.0,3587.376673,39612.500000,0.00,0.000000,9.06,99.98,0.00,0.00

,고객번호,A구매횟수,B구매횟수,C구매횟수,D구매횟수,A총구매액,B총구매액,C총구매액,D총구매액,A객단가,B객단가,C객단가,D객단가,A구매비율(%),B구매비율(%),C구매비율(%),D구매비율(%)
0,1,813.0,60.0,106.0,0.0,78803680.0,693372.0,899989.0,0.0,96929.495695,11556.200000,8490.462264,0.000000,82.86,9.87,7.25,0.00
1,2,961.0,16.0,0.0,20.0,91275153.0,207512.0,0.0,234491.0,94979.347555,12969.500000,0.000000,11724.550000,79.37,10.83,0.00,9.79
2,3,1.0,2.0,1095.0,0.0,82407.0,7863.0,2946890.0,0.0,82407.000000,3931.500000,2691.223744,0.000000,92.56,4.41,3.02,0.00
3,4,572.0,117.0,134.0,0.0,13581812.0,1390052.0,740024.0,0.0,23744.426573,11880.786325,5522.567164,0.000000,57.71,28.83,13.39,0.00
4,6,308.0,1027.0,39.0,0.0,13922922.0,7684815.0,516214.0,0.0,45204.292208,7482.779942,13236.256410,0.000000,68.57,11.34,20.05,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,375.0,280.0,9.0,70.0,2435869.0,1028029.0,22311.0,853607.0,6495.650667,3671.532143,2479.000000,12194.385714,26.15,14.76,9.96,48.99
18862,19334,3.0,1659.0,254.0,0.0,430219.0,10983463.0,693308.0,0.0,143406.333333,6620.532248,2729.559055,0.000000,93.88,4.33,1.79,0.00
18863,19335,10.0,1283.0,350.0,0.0,1293306.0,12392257.0,1569929.0,0.0,129330.600000,9658.812938,4485.511429,0.000000,90.14,6.73,3.12,0.00
18864,19336,384.0,1.0,0.0,4.0,26530085.0,26466.0,0.0,35682.0,69088.763021,26466.000000,0.000000,8920.500000,66.13,25.32,0.00,8.53
18865,19337,4.0,10.0,1040.0,0.0,281660.0,75428.0,3712208.0,0.0,70415.000000,7542.800000,3569.430769,0.000000,86.37,9.24,4.37,0.00

,고객번호,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,1기총구매액,2기총구매액,...,5기객단가,6기객단가,7기객단가,1구매비율(%),2구매비율(%),3구매비율(%),4구매비율(%),5구매비율(%),6구매비율(%),7구매비율(%)
0,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,8995824.0,11108203.0,...,54701.412791,65836.971429,120438.356164,12.54,16.02,14.47,16.31,9.23,11.11,20.32
1,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,13898280.0,10506625.0,...,128906.027586,86065.767241,123729.650794,11.62,10.42,18.55,7.32,19.82,13.23,19.03
2,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,297954.0,564936.0,...,3246.931034,2523.270677,3411.208633,11.04,13.91,15.31,12.40,16.68,12.95,17.49
3,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,1288767.0,3844763.0,...,14401.786885,14599.361702,20301.855932,10.20,15.99,23.82,13.68,10.60,10.74,14.94
4,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,2131469.0,3209003.0,...,15444.417722,18563.675000,17377.951754,9.80,14.75,17.72,12.35,13.63,16.38,15.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,603348.0,941484.0,...,6517.878788,7328.777778,6600.325581,12.80,13.04,17.09,8.88,15.33,17.24,15.52
18862,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,820744.0,2787328.0,...,7315.893617,4840.094118,17066.468750,11.52,10.39,10.89,13.04,13.54,8.96,31.58
18863,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,922771.0,2866847.0,...,7972.795699,13017.234043,8372.066986,14.84,14.85,14.61,10.81,12.17,19.87,12.78
18864,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,442432.0,3421816.0,...,46498.666667,117803.151515,139611.529412,10.71,8.49,8.64,13.30,9.00,22.81,27.03
18865,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,16257.0,74136.0,...,3832.829787,3233.027397,4506.644737,9.30,14.13,14.13,16.06,15.31,12.91,17.99

In [71]:
df1.to_csv('C:/1차data/8제외품목비율.csv',encoding='cp949',index=False)
df2.to_csv('C:/1차data/8제외제휴비율.csv',encoding='cp949',index=False)
df3.to_csv('C:/1차data/8제외분기비율.csv',encoding='cp949',index=False)