In [27]:
import pandas as pd

df=pd.read_csv('C:/1차data/3.19.csv',encoding='cp949')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1기구매비율(%),2기구매비율(%),3기구매비율(%),4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,0.0,11.46,14.63,13.22,14.90,8.43,10.15,18.56,8.65,0
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,0.0,10.30,9.24,16.44,6.49,17.57,11.73,16.87,11.36,0
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,0.0,9.88,12.45,13.71,11.11,14.96,11.62,15.71,10.56,0
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,0.0,9.35,14.65,21.83,12.53,9.71,9.85,13.69,8.39,0
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,0.0,8.86,13.33,16.02,11.16,12.32,14.81,13.86,9.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,5.0,11.51,11.72,15.37,7.99,13.80,15.52,13.97,10.12,0
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,0.0,10.03,9.05,9.48,11.36,11.80,7.81,27.53,12.94,0
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,0.0,13.37,13.37,13.17,9.74,10.97,17.91,11.52,9.94,1
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,0.0,9.27,7.35,7.48,11.51,7.79,19.75,23.40,13.44,1
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,0.0,8.18,12.43,12.43,14.14,13.50,11.38,15.87,12.07,1

In [19]:
sdf=df[df['분기증감확인']==1]
sdf

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1기구매비율(%),2기구매비율(%),3기구매비율(%),4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,0.0,8.86,13.33,16.02,11.16,12.32,14.81,13.86,9.64,1
5,7,0,5,1,0.84,26.09,71.95,1.12,1.0,0.0,4.0,14.63,4.31,7.84,19.71,12.41,18.19,5.45,17.47,1
6,8,1,5,0,5.44,67.60,15.55,11.40,3.0,0.0,0.0,14.34,8.92,11.03,19.10,9.82,11.35,11.57,13.85,1
7,9,0,5,0,2.17,45.28,40.83,11.72,0.0,0.0,0.0,16.96,10.69,7.80,7.62,28.40,11.37,11.81,5.36,1
9,11,1,5,0,2.17,42.03,52.77,3.03,2.0,1.0,0.0,7.22,12.34,24.19,7.78,3.03,28.96,4.74,11.76,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18858,19330,1,4,0,8.15,49.31,26.98,15.56,0.0,0.0,0.0,11.01,9.46,16.51,13.86,12.04,14.54,13.05,9.52,1
18859,19331,0,5,0,4.36,75.13,20.50,0.00,0.0,0.0,0.0,3.68,4.98,11.68,40.07,8.42,13.67,7.23,10.26,1
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,0.0,13.37,13.37,13.17,9.74,10.97,17.91,11.52,9.94,1
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,0.0,9.27,7.35,7.48,11.51,7.79,19.75,23.40,13.44,1
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,0.0,8.18,12.43,12.43,14.14,13.50,11.38,15.87,12.07,1

In [20]:
stdf=pd.read_csv('C:/1차data/고객속성추가수정.csv')
stdf.columns

pdf=stdf[['고객번호','총구매액', '총구매액.1', '총구매액.2',
       '총구매액.3', '총구매액.4', '총구매액.5', '총구매액.6', '총구매액.7']]
pdf

,고객번호,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
0,1,8995824.0,11108203.0,12181088.0,20694107.0,9408643.0,9217176.0,8792000.0,4375707.0
1,2,13898280.0,10506625.0,16767689.0,6279623.0,18691374.0,9983629.0,15589936.0,9915866.0
2,3,297954.0,564936.0,732292.0,349742.0,282483.0,335595.0,474158.0,213238.0
3,4,1288767.0,3844763.0,2750419.0,1616792.0,1757018.0,2058510.0,2395619.0,1330359.0
4,6,2131469.0,3209003.0,3573895.0,2616896.0,3660327.0,2970188.0,3962173.0,2647175.0
...,...,...,...,...,...,...,...,...,...
18861,19333,603348.0,941484.0,653268.0,403911.0,860360.0,593631.0,283814.0,429998.0
18862,19334,820744.0,2787328.0,2909975.0,2500765.0,1719235.0,822816.0,546127.0,384952.0
18863,19335,922771.0,2866847.0,2621277.0,1811375.0,2224410.0,3059050.0,1749762.0,1661776.0
18864,19336,442432.0,3421816.0,3570613.0,5220264.0,2929416.0,3887504.0,7120188.0,4088791.0
18865,19337,16257.0,74136.0,681537.0,678884.0,540429.0,708033.0,1370020.0,915458.0

In [21]:
df=pd.merge(sdf,pdf, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,8기구매비율(%),분기증감확인,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
0,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,...,9.64,1,2131469.0,3209003.0,3573895.0,2616896.0,3660327.0,2970188.0,3962173.0,2647175.0
1,7,0,5,1,0.84,26.09,71.95,1.12,1.0,0.0,...,17.47,1,10466291.0,2927842.0,5323165.0,14386004.0,9238632.0,12748435.0,3738889.0,12370144.0
2,8,1,5,0,5.44,67.60,15.55,11.40,3.0,0.0,...,13.85,1,6328574.0,5422648.0,7908095.0,9889710.0,7174478.0,7948725.0,8799609.0,8419055.0
3,9,0,5,0,2.17,45.28,40.83,11.72,0.0,0.0,...,5.36,1,14134569.0,24623001.0,19106272.0,20353926.0,54986079.0,31762935.0,24884893.0,16292164.0
4,11,1,5,0,2.17,42.03,52.77,3.03,2.0,1.0,...,11.76,1,12378243.0,15291902.0,36042323.0,11306991.0,2955560.0,32635424.0,4092784.0,16486576.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8231,19330,1,4,0,8.15,49.31,26.98,15.56,0.0,0.0,...,9.52,1,573367.0,1311184.0,1838429.0,1221606.0,2171004.0,2143465.0,2269501.0,1228127.0
8232,19331,0,5,0,4.36,75.13,20.50,0.00,0.0,0.0,...,10.26,1,202361.0,1362978.0,1739921.0,6615835.0,1799880.0,3120139.0,1779190.0,1909429.0
8233,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,...,9.94,1,922771.0,2866847.0,2621277.0,1811375.0,2224410.0,3059050.0,1749762.0,1661776.0
8234,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,...,13.44,1,442432.0,3421816.0,3570613.0,5220264.0,2929416.0,3887504.0,7120188.0,4088791.0
8235,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,...,12.07,1,16257.0,74136.0,681537.0,678884.0,540429.0,708033.0,1370020.0,915458.0

In [22]:
df.describe().to_csv('C:/1차data/증가고객만.csv',encoding='cp949')