In [2]:
import numpy as np

In [3]:
arr = np.random.randint(1,10, size=(5,5))
arr

array([[2, 4, 5, 8, 6],
       [5, 4, 1, 2, 8],
       [3, 2, 9, 7, 2],
       [4, 9, 1, 4, 2],
       [5, 2, 1, 3, 8]])

In [4]:
# 전치
arr.T
np.transpose(arr)

array([[2, 5, 3, 4, 5],
       [4, 4, 2, 9, 2],
       [5, 1, 9, 1, 1],
       [8, 2, 7, 4, 3],
       [6, 8, 2, 2, 8]])

In [5]:
# 행렬곱, 내적
np.dot(arr.T, arr)

array([[ 79,  80,  51,  78, 106],
       [ 80, 121,  53,  96,  94],
       [ 51,  53, 109, 112,  66],
       [ 78,  96, 112, 142, 110],
       [106,  94,  66, 110, 172]])

In [6]:
a = np.arange(6).reshape(2,3)
print(a,'\n')

y = np.swapaxes(a, 0,1) # 0은 2차원(열), 1은 1차원(행)
print(y,'\n')

y = a.T
y = np.transpose(a)
y = np.transpose(a)
print(y)

[[0 1 2]
 [3 4 5]]

[[0 3]
 [1 4]
 [2 5]]

[[0 3]
 [1 4]
 [2 5]]

In [7]:
# 1 ~ 100을 아래와 같이 출력하세요.

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]] <class 'numpy.ndarray'>

SyntaxError: invalid syntax (Temp/ipykernel_6272/1506163337.py, line 3)

In [8]:
arr = np.arange(1,101).reshape(10,10)
arr[[1,3,5,7,9]] = arr[[1,3,5,7,9]][:,[9,8,7,6,5,4,3,2,1,0]]
print(arr)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

In [31]:
arr = np.arange(1,101).reshape(10,10)
arr[[1,3,5,7,9]] = arr[[1,3,5,7,9]][:,::-1]
arr

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 20,  19,  18,  17,  16,  15,  14,  13,  12,  11],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 40,  39,  38,  37,  36,  35,  34,  33,  32,  31],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 60,  59,  58,  57,  56,  55,  54,  53,  52,  51],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 80,  79,  78,  77,  76,  75,  74,  73,  72,  71],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [100,  99,  98,  97,  96,  95,  94,  93,  92,  91]])

In [32]:
a = np.arange(1, 101).reshape((10, -1))

for i in range(10):
    if i % 2 == 1:
        a[i] = a[i][::-1]

print(a)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

In [33]:
# (0,1,2)
# 3차원과 2차원을 바꾸는 경우 : (1,2,3) -> (2,1,3)
a = np.arange(6).reshape(1,2,3)
print(a,a.shape,'\n')

y = np.transpose(a,(1,0,2))
print(y,y.shape,'\n')

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0 1 2]]

 [[3 4 5]]] (2, 1, 3)

In [34]:
# (1,2,3) -> (2,3,1)
a = np.arange(6).reshape(1,2,3)
print(a,a.shape,'\n')
y = np.transpose(a,(1,2,0))
print(y,y.shape)

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0]
  [1]
  [2]]

 [[3]
  [4]
  [5]]] (2, 3, 1)

In [35]:
# [과제] 아래 배열에서 3차원과 2차원을 변경하여 출력하세요(shape 확인)
import numpy as np
arr = np.arange(16).reshape(2,2,4)
print(arr,arr.shape,'\n')

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]] (2, 2, 4)

In [36]:
arr=arr.reshape(2,2,4)
print(arr,arr.shape)

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]] (2, 2, 4)

In [37]:
# [과제] 상기 과제의 arr에서 2차원과 1차원을 변경하여 출력하세요(shape 확인)

In [46]:
arr=np.arange(16).reshape(2,4,2)
print(arr,arr.shape)
arr2=np.swapaxes(arr,2,1)

print(arr2,arr2.shape)

[[[ 0  1]
  [ 2  3]
  [ 4  5]
  [ 6  7]]

 [[ 8  9]
  [10 11]
  [12 13]
  [14 15]]] (2, 4, 2)
[[[ 0  2  4  6]
  [ 1  3  5  7]]

 [[ 8 10 12 14]
  [ 9 11 13 15]]] (2, 2, 4)

In [47]:
# 나머지를 구할 경우 사용하는 함수
value1 = np.array([15,30,45])
value2 = np.array([2,7,9])
print(np.mod(value1,value2))
print(np.remainder(value1,value2))

[1 2 0]
[1 2 0]

In [56]:
# 각 수의 역수를 구해주는 함수
value = np.array([0.85,1.85,1,100])
print(np.reciprocal(value),'\n')

value1 = np.array([100],dtype = int)
print(value1,'\n')
print(np.reciprocal(value1, dtype=float))

[1.17647059 0.54054054 1.         0.01      ]

[100]

[0.01]

In [49]:
# 승수의 결과 값을 표시해주는 함수
value1 = np.array([2,10,15])
value2 = np.array([1,2,3])

print(np.power(value1,2),'\n')
print(np.power(value1,value2))

[  4 100 225]

[   2  100 3375]

In [57]:
arr = np.random.randn(10)
# print(arr.mean(),'\n')
# print(arr.std())
arr

array([ 0.71285655,  1.09579121, -1.07828631, -0.66772385,  0.18150156,
        0.06589349, -0.18489705, -0.98268524, -0.61901723, -0.07739367])

In [58]:
# 양수인 원소의 개수
(arr > 0).sum()

4

In [59]:
# 하나 이상의 값이 True인지 검사
bools = np.array([False,False, True,True])
bools.any()

True

In [60]:
# 모든 원소가 True인지 검사
bools.all()

False

In [64]:
# 삼항식의 벡터화 버전
arr = np.random.randn(4,4)
print(arr,'\n')
np.where(arr > 0, 2, -2)

[[-0.81274254  1.17628945  0.12781626  0.22116186]
 [ 0.88685392 -1.13336662  0.06503074 -0.75375735]
 [-0.30390368 -0.28634879  0.50799814  0.60774537]
 [-1.09944839  0.5894104  -2.14293739  1.2935399 ]]

array([[-2,  2,  2,  2],
       [ 2, -2,  2, -2],
       [-2, -2,  2,  2],
       [-2,  2, -2,  2]])

In [65]:
# arr의 모든 양수를 2로 바꿀 경우
np.where(arr > 0, 2, arr)

array([[-0.81274254,  2.        ,  2.        ,  2.        ],
       [ 2.        , -1.13336662,  2.        , -0.75375735],
       [-0.30390368, -0.28634879,  2.        ,  2.        ],
       [-1.09944839,  2.        , -2.14293739,  2.        ]])

In [66]:
# 두개의 1차원 배열을 받아서 가능한 모든 (x,y) 짝을 만들 수 있는 2차원 배열 2개 반환
x = np.arange(1,4)
y = np.arange(1,4)
xs,ys = np.meshgrid(x,y)
print(xs,'\n')
print(ys)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

[[1 1 1]
 [2 2 2]
 [3 3 3]]

In [67]:
# np.sort()
np.random.seed(0)
arr = np.random.randint(1,100,size=10)
print(arr,'\n')
print(np.sort(arr),'\n')
print(arr)

[45 48 65 68 68 10 84 22 37 88]

[10 22 37 45 48 65 68 68 84 88]

[45 48 65 68 68 10 84 22 37 88]

In [68]:
sorted = np.sort(arr)
print(sorted)

[10 22 37 45 48 65 68 68 84 88]

In [70]:
# 행렬이 2차원 이상일 때 axis 축 값 설정을 통해 행, 열 방향으로 정렬 수행
arr2d = np.array([[8,12],[7,1]])
print(arr2d,'\n')
sort_ar2d_axis0 = np.sort(arr2d, axis=0)
print(sort_ar2d_axis0,'\n')
sort_ar2d_axis1 = np.sort(arr2d, axis=1)
print(sort_ar2d_axis1)

[[ 8 12]
 [ 7  1]]

[[ 7  1]
 [ 8 12]]

[[ 8 12]
 [ 1  7]]

In [71]:
# ndarray.sort() : 원본 반영
np.random.seed(0)
arr = np.random.randint(1,10,size=10)
# arr = np.random.randn(6)
print(arr,'\n')
arr.sort() # 원본 반영
print(arr)

[6 1 4 4 8 4 6 3 5 8]

[1 3 4 4 4 5 6 6 8 8]

In [74]:
# 다차원 배열의 정렬은 sort 메소드에 넘긴 축에 따라 1차원 부분을 정렬
# 열방향 정렬, default
np.random.seed(0)
arr = np.random.randint(1,10,size=(5,3))
print(arr,'\n')
arr.sort(1)
print(arr)

[[6 1 4]
 [4 8 4]
 [6 3 5]
 [8 7 9]
 [9 2 7]]

[[1 4 6]
 [4 4 8]
 [3 5 6]
 [7 8 9]
 [2 7 9]]

In [75]:
# 행방향 정렬
np.random.seed(0)
arr = np.random.randint(1,10,size=(5,3))
print(arr,'\n')
arr.sort(0)
print(arr)

[[6 1 4]
 [4 8 4]
 [6 3 5]
 [8 7 9]
 [9 2 7]]

[[4 1 4]
 [6 2 4]
 [6 3 5]
 [8 7 7]
 [9 8 9]]

In [76]:
# 정렬된 행렬의 인덱스 반환 : 기존 원본 행렬의 원소에 대한 인덱스를 필요로 할 때
org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(org_array)
print(type(sort_indices))
sort_indices

[3 1 9 5]
<class 'numpy.ndarray'>

array([1, 0, 3, 2], dtype=int64)

In [77]:
# 배열에서 정렬한 후 50%에 해당하는 원소만 출력
large_arr = np.random.randn(1000)
large_arr.sort()
large_arr[int(0.5*len(large_arr))]

0.0017985835409833097

In [78]:
# 배열 집합 연산
names = np.array(['Bob','Joe','Will','Joe','Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [81]:
import numpy as np
names = np.array(['Bob','Joe','Will','Joe','Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [82]:
# 첫번째 배열의 원소가 두번째 배열의 원소를 포함하는지 알려주는 불리언 배열을 반환
values = np.array([6,0,0,3,2,5,6])
np.in1d(values, [2,3,6])

array([ True, False, False,  True,  True, False,  True])

In [83]:
# 배열 데이터의 입출력
# np.save, np.load는 바이너리 형식 .npy 파일로 저장

arr = np.arange(10)
np.save('some_array',arr)

In [84]:
np.load('some_array.npy')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [85]:
# np.savez : 여러개의 배열을 압축된 형식으로 저장
np.savez('array_archive.npz',a=arr,b=arr)

In [86]:
arch = np.load('array_archive.npz')
arch['a']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [87]:
# Q. 인덱싱을 사용하여 [1 0 1 0 1 0 1 0 1 0] 을 출력하세요.
a = np.ones(10,dtype=int)
a

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [88]:
a = np.ones(10).astype(int)
a[[1,3,5,7,9]] = 0
print(a)

[1 0 1 0 1 0 1 0 1 0]

In [89]:
# Q. a = np.arange(10)에서 [6,7,8,9] 출력

In [90]:
a= np.arange(10)
a1 = a[a>5]
a1

array([6, 7, 8, 9])

In [91]:
# Q. a에서 최대값, 최소값의 인덱스 출력

In [92]:
a = np.arange(1,10)
print(f'최댓값: {np.argmax(a)}\n최솟값: {np.argmin(a)}')

최댓값: 8
최솟값: 0

In [93]:
# Q. a에서 인덱스 배열을 역순으로 출력하세요.

In [102]:
np.argsort(a)[::-1]

array([7, 5, 3, 1, 6, 4, 2, 0], dtype=int64)

In [103]:
# Q. np.ones((10,10))을 아래와 같이 출력하세요.
array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

NameError: name 'array' is not defined

In [104]:
b=np.ones((10,10))
b[1:9,1:9]=0
b

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [105]:
# [과제] np.ones((5,5))을 아래와 같이 출력하세요.
array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

NameError: name 'array' is not defined

In [106]:
b=np.zeros((10,10))
b[2:8,2:8]=1
b

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [107]:
# [과제] np.zeros((8,8))을 이용해서 아래와 같이 출력하세요(두가지 방식:인덱싱, tile함수)
array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

NameError: name 'array' is not defined

In [108]:
n=np.zeros((8,8))
n[[1,3,5,7]]=[1,0]*4
n[[0,2,4,6]]=[0,1]*4
n

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.]])

In [109]:
n=np.zeros((8,8))
a=np.tile([0,1],4)
b=np.tile([1,0],4)
n[[1,3,5,7]]=a
n[[0,2,4,6]]=b

n

array([[1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

In [110]:
# [도전과제] np.arange(336).reshape(6,7,8)에서 100번째 요소의 인덱스를 구하세요

In [111]:
a=np.arange(336).reshape(6,7,8)
a
np.where(a==99)

(array([1], dtype=int64), array([5], dtype=int64), array([3], dtype=int64))

In [112]:
a# [도전과제] np.arange(4)을 이용해서 아래와 같이 출력하세요.
array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

NameError: name 'array' is not defined

In [113]:
a= np.arange(4)
arr=np.eye(5,k=-1)
c=0
for i in a:
    arr[i+1][c]=i+1
    c+=1
arr.astype('int32')

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

[파이썬 random 함수]

In [114]:
import random
import numpy as np
print(random.random(),'\n') # 0.0 <= x < 1.0 사이
print(random.randint(1,10),'\n') # 1에서 10사이의 정수중에서 난수 값 리턴
print(random.uniform(10,20), '\n') # min max 사이 float 리턴
print(random.randrange(10), '\n') # 지정 범위 int 리턴
print(random.choice([1,2,3,4,5]),'\n') # 리스트 내부에 있는 요소를 랜덤하게 선택
li = [1,2,3,4,5]
print(random.sample(li,3
                   ),'\n') # 리스트 요소를 중복이 안되게 리턴
random.shuffle(li) # 리스트 요소를 다시 섞어서 리턴
print(li)

0.6233636569628792

5

17.764191754689165

9

5

[2, 5, 4]

[2, 3, 5, 4, 1]

[numpy random 함수]

- np.random.seed : seed를 통한 난수 생성
- np.random.randint : 정수 난수 1개 생성
- np.random.rand : 0부터 1사이의 균일분포에서 난수 매트릭스 배열 생성
- np.random.randn : 가우시안 표준 정규분포에서 난수 매트릭스 배열 생성
- np.random.shuffle : 기존의 데이터의 순서 바꾸기
- np.random.choice : 기존 데이터에서 sampling

In [115]:
print(np.random.randint(6), '\n') # 0 ~ 5까지 정수인 난수 1개
print(np.random.randint(1,20),'\n') # 1 ~ 19까지 정수인 난수 1개
print(np.random.randint(10, size=10), '\n') # 0 ~ 9까지 정수인 난수 10개
print(np.random.randint(10,20, size=10),'\n') # 10 ~ 19까지 정수인 난수 10개
print(np.random.randint(10,20, size=(3,5))) # 10 ~ 19까지 정수인 난수로 3행 5열 배열 생성

2

5

[4 3 1 0 6 6 0 9 8 9]

[15 12 19 18 14 14 10 12 15 17]

[[17 11 13 12 10]
 [13 12 12 12 13]
 [15 11 17 15 13]]

In [116]:
r = np.random.rand(6) # 0 ~ 1 사이의 균일분포
print(r,'\n')
r.mean()

[0.54923726 0.64319878 0.57042341 0.27367755 0.22082428 0.15358251]

0.4018239652401485

In [117]:
# 표준 정규분포
r = np.random.randn(10000)
print(r,'\n')
r.mean()

[ 0.73999673  0.65696373  1.57471823 ... -0.71834356  1.76321168
 -0.56707024]

0.010354979825362884

In [118]:
list = np.arange(1,6)
print(list,'\n')
np.random.shuffle(list)
list

[1 2 3 4 5]

array([1, 4, 3, 5, 2])

In [119]:
np.random.choice(list)

3

In [120]:
a = np.array([11,11,3,3,2,2,2,7])
index,count = np.unique(a,return_counts=True)
print(index)
print(count)

[ 2  3  7 11]
[3 2 1 2]

In [121]:
np.random.uniform(1.0,2.0, 10) # 1-2 사이의 10개 '실수'를 리턴

array([1.56393154, 1.26118403, 1.05381747, 1.10703024, 1.35532497,
       1.65087715, 1.97370412, 1.87646649, 1.79551762, 1.02516459])

In [122]:
print(np.random.uniform(0,1,(2,3))) # 0-1 사이의 2행3열 '실수'를 리턴

[[0.10727009 0.69250175 0.52520528]
 [0.75186828 0.28421532 0.49844299]]

In [123]:
# 0 ~ 1 사이의 난수 실수값으로 행렬 생성
# uniform 함수의 최소값, 최대값을 각각 0, 1로 지정한 것과 같음
np.random.random_sample((2,3))

array([[0.27146922, 0.2729303 , 0.70925978],
       [0.20285971, 0.13655553, 0.07634448]])

In [124]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [125]:
ar = np.random.rand(4,8)
ar

array([[0.88350137, 0.84959777, 0.84103967, 0.52904107, 0.05180511,
        0.26898367, 0.14282822, 0.16899496],
       [0.94268697, 0.79408104, 0.36860168, 0.2030247 , 0.92701778,
        0.60854017, 0.91675464, 0.71224544],
       [0.18910955, 0.26767935, 0.3097829 , 0.44089483, 0.18604103,
        0.17544511, 0.07011596, 0.19932599],
       [0.37431617, 0.74225919, 0.62408286, 0.40353544, 0.71119837,
        0.22582435, 0.3389777 , 0.54802181]])

In [126]:
# 배열을 데이터프레임으로 변환
import pandas as pd
df = pd.DataFrame(ar)
print(df,type(df))

          0         1         2         3         4         5         6  \
0  0.883501  0.849598  0.841040  0.529041  0.051805  0.268984  0.142828
1  0.942687  0.794081  0.368602  0.203025  0.927018  0.608540  0.916755
2  0.189110  0.267679  0.309783  0.440895  0.186041  0.175445  0.070116
3  0.374316  0.742259  0.624083  0.403535  0.711198  0.225824  0.338978

          7
0  0.168995
1  0.712245
2  0.199326
3  0.548022   <class 'pandas.core.frame.DataFrame'>

In [127]:
columns = ['id','gender','age','region','product','price','qty','time']
index = [np.arange(4)]
df = pd.DataFrame(ar,index,columns=columns)
df

,id,gender,age,region,product,price,qty,time
0,0.883501,0.849598,0.841040,0.529041,0.051805,0.268984,0.142828,0.168995
1,0.942687,0.794081,0.368602,0.203025,0.927018,0.608540,0.916755,0.712245
2,0.189110,0.267679,0.309783,0.440895,0.186041,0.175445,0.070116,0.199326
3,0.374316,0.742259,0.624083,0.403535,0.711198,0.225824,0.338978,0.548022

In [128]:
# Q. id, gender, age 컬럼에 대하여 의미있는 값으로 변환하여 3개의 컬럼으로 구성된 df를 출력하세요.

In [129]:
import pandas as pd
id=np.random.randint(1000,2000,4)
gen=np.random.choice(['M','F'],4)
age=np.random.randint(20,40,4)

data=np.array([id,gen,age]).transpose()
df=pd.DataFrame(data,range(1,5),['id','sex','age'])

df

     id sex age
1  1682   M  26
2  1064   M  30
3  1338   F  30
4  1275   M  39

In [130]:
h = np.zeros((3, 10))
id_ = np.random.randint(1, 1000, size = (1, 10))
gender = np.random.randint(2, size = (1, 10))
age = np.random.randint(0, 120, size = (1, 10))

h[0] = id_
h[1] = gender
h[2] = age

h = np.transpose(h)
print(h,'\n')

columns = ['id', 'gender', 'age']
index = np.arange(1, 11)
df = pd.DataFrame(h, index, columns = columns)

df

[[906.   0.   8.]
 [401.   1.  46.]
 [143.   0. 115.]
 [ 62.   0.  95.]
 [627.   0. 107.]
 [706.   1.  94.]
 [286.   1.  98.]
 [818.   0.  85.]
 [148.   1.  37.]
 [ 22.   1.  47.]]

       id  gender    age
1   906.0     0.0    8.0
2   401.0     1.0   46.0
3   143.0     0.0  115.0
4    62.0     0.0   95.0
5   627.0     0.0  107.0
6   706.0     1.0   94.0
7   286.0     1.0   98.0
8   818.0     0.0   85.0
9   148.0     1.0   37.0
10   22.0     1.0   47.0

In [131]:
ar = np.zeros((4,3))
columns = ['id','gender','age']
index = [np.arange(4)]
df = pd.DataFrame(ar,index,columns=columns)
# df.id = np.array([1,2,3,4])
df.id = np.arange(1,5)
# df.gender = np.array([0,1,0,1])
np.random.seed(0)
df.gender = np.random.randint(2,size=4)
# df.age = np.array([20,30,40,50])
df.age = np.arange(1,5) * 10
df

   id  gender  age
0   1       0   10
1   2       1   20
2   3       1   30
3   4       0   40

[과제] 아래 가이드에 따라서 고객 구매데이터를 생성하고 데이터프레임으로 변환하여 출력하세요(관측치 1000개)

- id : 1 ~ 1000번 일련번호
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성
- product_19 : 제품코드 11111 ~ 99999
- product_20 : 제품코드 11111 ~ 99999
- price_19 : 1000 ~ 50000 사이 실수 난수 생성
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_19 : 1 ~ 100 사이 정수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- time_19 : 01 ~ 24 사이 정수 난수 생성
- time_20 : 01 ~ 24 사이 정수 난수 생성
- amount_19 : price_19 * quantity_19
- amount_20 : price_20 * quantity_20
- sales : 19년 대비 20년구매금액이 증가면 1, 감소면 0

In [132]:
import numpy as np
import pandas as pd
columns=['id', 'gender', 'age','region','product_19','product_20','price_19','price_20',
                                   'quantity_19','quantity_20','time_19','time_20','amount_19','amount_20','sales']
arr=np.zeros((1000,len(columns)))

df = pd.DataFrame(arr,range(1,1001),columns)

df.id = np.random.randint(1, 1001, size = 1000)
df.gender = np.random.randint(0, 2, size = 1000)
df.age = np.random.randint(0, 81, size = 1000)
df.region = np.random.randint(1, 11, size = 1000)
df.product_19 = np.random.randint(11111, 100000, size = 1000)
df.product_20 = np.random.randint(11111, 100000, size = 1000)
df.price_19 = np.random.uniform(1000.0,50000.0,1000)
df.price_20 = np.random.uniform(1000.0,50000.0,1000)
df.quantity_19 = np.random.randint(1,101, size = 1000)
df.quantity_20 = np.random.randint(1,101, size = 1000)
df.time_19 = np.random.randint(1,25, size = 1000)
df.time_20 = np.random.randint(1,25, size = 1000)
df.amount_19 = (df.price_19 * df.quantity_19)//1000
df.amount_20 = (df.price_20 * df.quantity_20)//1000
df.sales = np.where( df.amount_19 < df.amount_20,1,0)
df

,id,gender,age,region,product_19,product_20,price_19,price_20,quantity_19,quantity_20,time_19,time_20,amount_19,amount_20,sales
1,836,0,69,10,89322,22905,39624.057359,21042.137849,13,33,9,4,515.0,694.0,1
2,764,1,15,4,49550,65536,37332.160062,44258.448572,44,80,2,12,1642.0,3540.0,1
3,708,1,52,10,27916,89856,12729.547483,21564.615977,39,33,15,8,496.0,711.0,1
4,360,0,32,5,33121,66155,2835.302140,18657.275162,49,36,13,18,138.0,671.0,1
5,10,1,78,3,88335,54001,41085.364592,41117.112394,91,61,2,11,3738.0,2508.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,871,1,43,2,42422,32803,45740.204156,36910.411022,23,97,10,24,1052.0,3580.0,1
997,21,0,65,9,37274,88675,47196.613749,28807.164588,52,23,12,21,2454.0,662.0,0
998,684,1,78,1,70357,17620,23912.352155,1859.164674,50,56,16,8,1195.0,104.0,0
999,631,0,6,4,32323,74804,47470.693371,2948.564447,74,48,24,3,3512.0,141.0,0
1000,129,1,47,8,90019,72501,30558.732685,40150.373071,13,31,10,17,397.0,1244.0,1