# 2차원 데이터의 정리

## 두 데이터 사이의 관계를 나타내는 지표

In [2]:
%precision 3
#소수점3자리이하
import numpy as np
import pandas as pd


pd.set_option('precision', 3)

In [3]:
df = pd.read_csv('../data/ch2_scores_em.csv',
                 index_col='student number')
df

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76
6                    48           60
7                    65           81
8                    49           66
9                    65           78
10                   58           82
11                   70           94
12                   47           75
13                   51           70
14                   64           77
15                   62           84
16                   70           84
17                   71           82
18                   68           85
19                   73           90
20                   37           70
21                   65           78
22                   65           93
23                   61           77
24                   52           88
25                   57           82
26                   57           76
27                   75           87
28                   61           84
29                   47           77
30                   54           82
31                   66           91
32                   54           75
33                   54           76
34                   42           78
35                   37           57
36                   79           89
37                   56           83
38                   62           69
39                   62           86
40                   55           81
41                   63           81
42                   57           80
43                   57           79
44                   67           87
45                   55           84
46                   45           71
47                   66           80
48                   55           77
49                   64           83
50                   66           88

In [4]:
en_scores = np.array(df['english'])[:10]
ma_scores = np.array(df['mathematics'])[:10]

scores_df = pd.DataFrame({'english':en_scores,
                          'mathematics':ma_scores},
                         index=pd.Index(['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J'],name='student'))
scores_df

         english  mathematics
student
A             42           65
B             69           80
C             56           63
D             41           63
E             57           76
F             48           60
G             65           81
H             49           66
I             65           78
J             58           82

### 공분산

In [7]:
summary_df = scores_df.copy()
summary_df['english_deviation'] =\
    summary_df['english'] - summary_df['english'].mean()
summary_df['mathematics_deviation'] =\
    summary_df['mathematics'] - summary_df['mathematics'].mean()
summary_df['product of deviations'] =\
    summary_df['english_deviation'] * summary_df['mathematics_deviation']
summary_df
#공분산-일반분산과 다르게 음의 상관관계 확인가능 0에 가까울수록 상관도가 낮아짐, 영어수학 둘다 평균보다 높거나 낮으면 양의 상관관계이며 영어점수가 높으면 수학점수도 높은걸 증명.

,english,mathematics,english_deviation,mathematics_deviation,product of deviations
student,,,,,
A,42,65,-13.0,-6.4,83.2
B,69,80,14.0,8.6,120.4
C,56,63,1.0,-8.4,-8.4
D,41,63,-14.0,-8.4,117.6
E,57,76,2.0,4.6,9.2
F,48,60,-7.0,-11.4,79.8
G,65,81,10.0,9.6,96.0
H,49,66,-6.0,-5.4,32.4
I,65,78,10.0,6.6,66.0
J,58,82,3.0,10.6,31.8

In [8]:
summary_df['product of deviations'].mean()

62.800

In [9]:
cov_mat = np.cov(en_scores, ma_scores, ddof=0) #np.cov 로 공분산 구하기 반환값은 공분산 행렬이고 [1,0],[0.1] 값이 공분산 00은 영어의 분산, 11은 수학의 분산
cov_mat

array([[86.  , 62.8 ],
       [62.8 , 68.44]])

In [10]:
cov_mat[0, 1], cov_mat[1, 0]

(62.800000000000004, 62.800000000000004)

In [11]:
cov_mat[0, 0], cov_mat[1, 1]

(86.0, 68.44000000000001)

In [12]:
np.var(en_scores, ddof=0), np.var(ma_scores, ddof=0) #위와 일치함 확인

(86.0, 68.44000000000001)

### 상관계수

In [15]:
np.cov(en_scores, ma_scores, ddof=0)[0, 1] /(np.std(en_scores) * np.std(ma_scores))

0.8185692341186713

In [14]:
np.corrcoef(en_scores, ma_scores)

array([[1.   , 0.819],
       [0.819, 1.   ]])

In [16]:
scores_df.corr() #0.819로 수학과 영어의 강한 상관관계 확인

             english  mathematics
english        1.000        0.819
mathematics    0.819        1.000

## 2차원 데이터의 시각화

### 산점도

In [17]:
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
english_scores = np.array(df['english'])
math_scores = np.array(df['mathematics'])

fig = plt.figure(figsize=(8, 8))
ax = fig.add_subplot(111)
# 산점도
ax.scatter(english_scores, math_scores)
ax.set_xlabel('english')
ax.set_ylabel('mathematics')

plt.show()

### 회귀직선

In [ ]:
# 계수β_0와β_1를 구한다
poly_fit = np.polyfit(english_scores, math_scores, 1)
# β_0+β_1 x를 반환하는 함수를 작성
poly_1d = np.poly1d(poly_fit)
# 직선을 그리기 위해 x좌표를 생성
xs = np.linspace(english_scores.min(), english_scores.max())
# xs에 대응하는 y좌표를 구한다
ys = poly_1d(xs)

fig = plt.figure(figsize=(8, 8))
ax = fig.add_subplot(111)
ax.set_xlabel('english')
ax.set_ylabel('mathematics')
ax.scatter(english_scores, math_scores, label='score')
ax.plot(xs, ys, color='gray',
        label=f'{poly_fit[1]:.2f}+{poly_fit[0]:.2f}x')
# 범례의 표시
ax.legend(loc='upper left')

plt.show()

### 히트맵

In [ ]:
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111)

c = ax.hist2d(english_scores, math_scores,
              bins=[9, 8], range=[(35, 80), (55, 95)])
ax.set_xlabel('english')
ax.set_ylabel('mathematics')
ax.set_xticks(c[1])
ax.set_yticks(c[2])
# 컬러 바의 표시
fig.colorbar(c[3], ax=ax)
plt.show()

## 앤스컴의 예

In [ ]:
# npy 형식으로 저장된 NumPy array를 읽어들인다
anscombe_data = np.load('../data/ch3_anscombe.npy')
print(anscombe_data.shape)
anscombe_data[0]

In [ ]:
stats_df = pd.DataFrame(index=['X_mean', 'X_variance', 'Y_mean',
                               'Y_variance', 'X&Y_correlation',
                               'X&Y_regression line'])
for i, data in enumerate(anscombe_data):
    dataX = data[:, 0]
    dataY = data[:, 1]
    poly_fit = np.polyfit(dataX, dataY, 1)
    stats_df[f'data{i+1}'] =\
        [f'{np.mean(dataX):.2f}',
         f'{np.var(dataX):.2f}',
         f'{np.mean(dataY):.2f}',
         f'{np.var(dataY):.2f}',
         f'{np.corrcoef(dataX, dataY)[0, 1]:.2f}',
         f'{poly_fit[1]:.2f}+{poly_fit[0]:.2f}x']
stats_df

In [ ]:
# 그래프를 그리기 위한 영역을 2x2개 생성
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(10, 10),
                         sharex=True, sharey=True)

xs = np.linspace(0, 30, 100)
for i, data in enumerate(anscombe_data):
    poly_fit = np.polyfit(data[:,0], data[:,1], 1)
    poly_1d = np.poly1d(poly_fit)
    ys = poly_1d(xs)
    # 그리는 영역을 선택
    ax = axes[i//2, i%2]
    ax.set_xlim([4, 20])
    ax.set_ylim([3, 13])
    # 타이틀을 부여
    ax.set_title(f'data{i+1}')
    ax.scatter(data[:,0], data[:,1])
    ax.plot(xs, ys, color='gray')

# 그래프 사이의 간격을 좁힘
plt.tight_layout()
plt.show()