In [ ]:
import pandas as pd
file_data = pd.read_csv('file_data.csv')
file_data['가격'] = [5000,5000,4000,5000,3000]
file_data

In [ ]:
df1 = file_data.copy()
df2 = pd.DataFrame({
    '차림표':['비빔밥','돈까스','라면','김밥','제육덮밥'],
    '가격':[7000,8000,3000,3000,9000]
})
df2

In [ ]:
# 병합 - 세로방향
dfc1 = pd.concat([df1,df2])
dfc1

In [ ]:
# 병합 - 가로방향
dfc2 = pd.concat([df1,df2],axis=1)
dfc2

In [ ]:
new_column = ['메뉴1','가격1','메뉴2','가격2']
dfc2.columns = new_column
dfc2

In [ ]:
sr1 = dfc2['메뉴1']
sr2 = dfc2['가격2']
print(sr1,'\n')
print(sr2)
type(sr2)

In [ ]:
# 시리즈 -> 데이터프레임
df = pd.concat([sr1,sr2],axis=1)
df

In [ ]:
# 열 삭제, inplace=True는 원본에 반영함을 의미 
dfc3 = dfc2.copy()
dfc3.drop(['가격1','가격2'],axis=1,inplace=True)
# dfc3.drop(['가격1','가격2'],axis=1)
dfc3

In [ ]:
# 행 삭제
dfc3.drop([0,1],axis=0,inplace=True)
dfc3

In [ ]:
dfc3 = dfc2.copy()
dfc3

In [ ]:
# [과제] 인덱싱을 이용하여 특정 컬럼, 특정 행, 특정 값을 추출

In [ ]:
# 조건(하나 또는 복수)에 맞는 데이터 추출 - 불린인덱싱
dfc3.loc[dfc3['가격1']>4500,['메뉴1','가격1']]

In [ ]:
# [과제] 행, 열 모두에 조건 지정

In [ ]:
# 행 추가
dfc3.loc[5] = ['김치라면', '4000', '만두', '5000']
dfc3

In [ ]:
# 열 추가 
dfc3['메뉴3'] = dfc3.메뉴2
dfc3

In [ ]:
dfc1

In [ ]:
# 인덱시 재정렬
ndf = dfc1.reset_index()
ndf.drop('index',axis=1,inplace=True)
ndf

In [ ]:
ndf1 = ndf.copy()
ndf1

In [ ]:
# 인덱스 설정
ndf1.index=np.arange(1,11)
ndf1

In [ ]:
import numpy as np
# 인덱스 지정한 데로 설정 : reindex
new_index = np.arange(1,15)
ndf2 = ndf1.reindex(new_index,fill_value=1)
ndf2

In [ ]:
# 내림차순 정렬
ndf2 = ndf1.sort_index(ascending=False)
ndf2

In [ ]:
ndf3 = ndf2.sort_index(ascending=True)
ndf3

In [ ]:
ndf4 = ndf2.sort_values(by='가격',ascending=False)
ndf4

In [ ]:
import numpy as np
import pandas as pd
columns = ['kor','eng','art','math','gym','sci']
index = ['jim','sam','tom','tim','bob']
data = np.random.randint(70,100,size=(5,6))
df = pd.DataFrame(data,index,columns=columns)
df

[과제] iloc, loc를 이용해서 아래 요구사항들을 출력하세요
- df의 kor열을 series와 dataframe을 각각 출력
- df에서 sam의 math 점수를 출력(2가지 방법)
- df에서 tom의 eng와 sci 점수를 출력(2가지 방법)
- df에서 jim, tim의 eng, gym 점수를 출력
- df에서 jim, sam의 art,math,gym 점수를 출력

In [ ]:
df['kor']

In [ ]:
df[['kor']]

In [ ]:
df.loc[['sam'],['math']]

In [ ]:
df.iloc[0,1]

In [ ]:
df.loc['sam','math']

In [ ]:
df.loc['tom',['eng','sci']]

In [ ]:
df.loc[['tom'],['eng','sci']]

In [ ]:
df.loc[['jim','tim'],['eng','gym']]

In [ ]:
df.loc[['jim','sam'],['art','math','gym']]

[과제] iloc, loc를 이용해서 아래 요구사항들을 수행하세요
- df에서 sam의 math 점수를 100으로 변경
- df에서 tom의 eng와 math 점수를 100으로 변경
- df에서 jim, tim의 kor, gym 점수를 null값으로 변경
- df에서 math와 gym 점수를 바꾸어 출력

In [ ]:
df.loc['sam','math']=100
df.loc[['sam'],['math']]

In [ ]:
df.loc['tom',['eng','math']]=100
df.loc[['tom'],['eng','math']]

In [ ]:
df.loc[['jim','tim'],['kor','gym']]=np.nan
df.loc[['jim','tim'],['kor','gym']]

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns
df = sns.load_dataset('titanic')
df=df.iloc[:500]#인덱싱추출
df.columns #컬럼만추출
df.insert(5,'family',df['sibsp']+df['parch']) #칼럼병합
df= df.drop(['sibsp','parch'],axis=1) #삭제
df=df.replace(['male'],'man')#변경
df=df.sort_values(by='family',ascending=False)#정렬


df

In [ ]:
# [과제] 데이터 추출(인덱싱, 조건), 변경, 삭제, 정렬, 칼럼 병합(sibsp + parch = family) 등을 수행하여 데이터에서 인사이트를 찾아보세요 
import seaborn as sns
df = sns.load_dataset('titanic')
df=df.iloc[:500]#인덱싱추출
df.columns #컬럼만추출
df.insert(5,'family',df['sibsp']+df['parch']) #칼럼병합
df= df.drop(['sibsp','parch'],axis=1) #삭제
df=df.replace(['male'],'man')#변경
df=df.sort_values(by='family',ascending=False)#정렬

In [ ]:
import numpy as np
import pandas as pd
data = np.arange(20).reshape(4,5)
df = pd.DataFrame(data,columns=['a','b','c','d','e'])
df.head()

In [ ]:
# 삭제
df1 = df.copy()
df1.drop(df1.index[[0,3]])

In [ ]:
# 특정 조건에 맞는 인덱스 구하기
df1 = df.copy()
idx = df1[df1.a > 10].index
df1.drop(idx)

In [ ]:
li = []
for i in range(100):
    li.append('c'+str(i+1))
print(li)

In [ ]:
data = np.random.randn(10000).reshape(100,100)
df = pd.DataFrame(data,columns=li)
df['c2'] = df.c2 * 100
df.iloc[1] = df.iloc[1] * 100
df.head()

In [ ]:
df1 = df.copy()
idx = df1[df1.c2 > 10].index
print(idx)

In [ ]:
df1.drop(idx)

In [ ]:
df1 = df.copy()
idx = df1.query('c2 > 10').index
print(idx)

In [ ]:
df1 = df.copy()
cond1 = df1.c2 > 10
cond2 = df1.c3 > 0
cond3 = df.c4 < 0

df2 = df1[cond1 & cond2 & cond3]
df2.shape

In [ ]:
df3 = df1[cond1 | cond2 | cond3]
df3.shape

In [ ]:
df1[cond1][['c1','c2']].head()

In [ ]:
import seaborn as sns
df = sns.load_dataset('titanic')
tdf = df.copy()
tdf.head()

In [ ]:
# 컬럼이름 변경
tdf.rename(columns={'sex':'gender','fare':'ticket'}, inplace=True)
tdf.head()

In [ ]:
tdf.gender.value_counts()
# tdf.gender.unique()

In [ ]:
# 값 변경
df1 = tdf[['gender']].replace(['female','male'],[1,0])
df1.gender.value_counts()

In [ ]:
# 칼럼 대문자 변경
tdf.rename(str.upper, axis='columns',inplace=True)
tdf.head()

In [ ]:
# 칼럼 소문자 변경
tdf.rename(str.lower, axis='columns',inplace=True)
tdf.head()

In [ ]:
# 칼럼 순서 변경
columns_customed = ['pclass','gender','age','survived']
tdf[columns_customed].head()

In [ ]:
# NaN 으로 변경
df1 = df.copy()
df1['sex'] = df1.sex.replace('male', np.nan)
df1.sex.value_counts()

In [ ]:
tdf.head(2)

In [ ]:
tdf.info()

In [ ]:
tdf.deck.value_counts()

In [ ]:
tdf.gender.value_counts()

In [ ]:
tdf.who.value_counts()

In [ ]:
tdf.pclass.value_counts()

In [ ]:
tdf.value_counts('class')

In [ ]:
# 결측값 대체 : age 평균값
print(tdf.age.isnull().sum(),'\n')
tdf.age.fillna(tdf.age.mean(),inplace=True)
tdf.age.isnull().sum()

In [ ]:
tdf1 = df.copy()
tdf1.age.replace(np.nan, tdf1.age.mean(), inplace=True)
tdf1.age.isnull().sum()

In [ ]:
# 결측값 삭제
tdf2 = df.copy()
tdf2.dropna(subset=['age'],inplace=True)
print(len(tdf2),'\n')
tdf2.age.isnull().sum()

In [ ]:
tdf[['age','ticket']].head()

In [ ]:
# 실수를 정수로 변환하여 출력
tdf[['age','ticket']].astype(int).head()

In [ ]:
tdf1 = tdf[['age','ticket']].astype({'age':'int','ticket':'int'})
tdf1.head()

In [ ]:
# age 칼럼의 값 구성 체크
tdf.age.value_counts()

In [ ]:
# age 칼럼의 고유 구성 요소
tdf.age.unique()

In [ ]:
# age 칼럼의 범주화
def get_category(age):
    cat=''
    if age <= 5: cat = 'Baby'
    elif age <= 12: cat = 'Child'
    elif age <= 19: cat = 'Teenager'
    elif age <= 35: cat = 'Yong Adult'
    elif age <= 60: cat = 'Adult'
    else:
        cat = 'Elderly'
    return cat
tdf['age_cat'] = tdf.age.apply(lambda x:get_category(x))
tdf[['age','age_cat']].head()

In [ ]:
# 인코딩
tdf = df.copy()
df1 = tdf[['sex','class']]
df1.head()

In [ ]:
df1.value_counts('class')

In [ ]:
!pip install scikit-learn

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
features = ['sex','class']
for feature in features:
    df1[feature] = le.fit_transform(df1[feature])
df1.head()

In [ ]:
tdf=df.copy()
df1=tdf[['sex','class']]
df1.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
items=list(df1.sex)
encoder=LabelEncoder()
encoder.fit(items)
labels=encoder.transform(items)
labels=labels.reshape(-1,1)
oh_encoder=OneHotEncoder()
oh_labels = oh_encoder.fit_transform(labels)
print(oh_labels.toarray(),oh_labels.shape)

In [ ]:
pd.get_dummies(df1)

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

boston=load_boston()
boston.keys()

In [ ]:
boston.target

In [ ]:
boston.data

In [ ]:
boston.feature_names

In [ ]:
df=pd.DataFrame(boston.data, columns=[boston.feature_names])
df['target']=boston.target
df

In [ ]:
df=df[['INDUS','RM','PTRATIO','LSTAT','target']]
df

In [ ]:
#스케일링
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
df['RM'] = scaler.fit_transform(df.RM)
df.head()

In [ ]:
scaler=MinMaxScaler()
df['INDUS']=scaler.fit_transform(df.INDUS)
df

In [ ]:
for i in ('INDUS','RM','PTRATIO','LSTAT','target'):
    scaler=MinMaxScaler()
    df[i]=scaler.fit_transform(df[i])
df.head()

In [ ]:
df.corr()

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(5,5))
sns.heatmap(df.corr(),annot=True)

In [ ]:
sns.distplot(df['target'])

In [ ]:
#로그변환
import numpy as np

df['target']=np.log1p(df.target)
sns.distplot(df.target)

In [ ]:
#로그 변환 환원
df['target']=np.expm1(df.target)

In [ ]:
#csv를 불러와서 minmax정규화 뒤에 qsec의 컬럼이 0.5보다 큰 관측치의 계수
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("mtcars.csv",index_col=0)
df = pd.DataFrame(df)
scaler=MinMaxScaler()

for i in df.columns:
    df[i]=scaler.fit_transform(df[[i]])

len(df.loc[df['qsec']>0.5])

In [ ]:
#결합
data1=np.arange(1,21).reshape(4,5)
data2=np.arange(11,31).reshape(5,4)
df1=pd.DataFrame(data1,columns=['a','b','c','d','e'])
df2=pd.DataFrame(data2,columns=['d','e','h','i'])
print(df1,'\n')

df2
# print(df1)

In [ ]:
df=pd.concat([df1,df2])
df

In [ ]:
df=pd.concat([df1,df2],axis=1)
df

In [ ]:
#교집합
df1.join(df2,lsuffix='_a',rsuffix='_b')

In [ ]:
#합집합
df1.join(df2,lsuffix='_a',rsuffix='_b',how='outer')

In [ ]:
df1['ind']=[1,2,3,4]
df2['ind']=[1,2,3,4,5]
df2

In [ ]:
pd.merge(df1,df2,on='ind')

#단순 합치기는 concat
#인덱스기준으로 join
#컬럼 기준으로 merge

In [ ]:
arr=np.arange(10)
arr=arr.reshape(2,5)
df=pd.DataFrame(arr,columns=['c0','c1','c2','c3','c4'])
df.to_csv('readcsv.csv')

In [ ]:
df=pd.read_csv('readcsv.csv',index_col=0)
df

In [ ]:
df.to_json('dfjson.json')

In [ ]:
df=pd.read_json('dfjson.json')
df

In [ ]:
df.to_pickle('bin.pkl')

In [ ]:
df=pd.read_pickle('bin.pkl')
df

In [ ]:
import pickle
f=open('test.txt','wb')
data={1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [ ]:
f=open('test.txt','rb')
data=pickle.load(f)
print(data)
f.close()

In [ ]:
!pip install openpyxl

In [ ]:
df=pd.read_excel('auto-mpg.xlsx')
df.columns

df

In [ ]:
df=df[['mpg', 'cylinders', 'horsepower', 'weight']]
df.to_excel('auto-mpg1.xlsx',index=False)
df=pd.read_excel('auto-mpg1.xlsx')
df

In [ ]:
s1=pd.Series({'국어':100,'영어':80,'수학':90})
s2=pd.Series({'수학':80,'국어':90,'영어':80})
add=s1+s2
sub=s1-s2
mul=s1*s2
div=s1/s2
df=pd.concat([add,sub,mul,div],axis=1)
df

In [ ]:
s1=pd.Series({'국어':100,'영어':80,'수학':90})
s2=pd.Series({'수학':80,'국어':90,'영어':80})
add=s1+s2
sub=s1-s2
mul=s1*s2
div=s1/s2

df=pd.DataFrame([add,sub,mul,div],index=['덧셈','뺄셈','곱셈','나눗셈'])
df

In [ ]:
lst=list('abcdefg')
lst

In [ ]:
df=pd.DataFrame(np.arange(12).reshape(3,4),columns=list('abcd'))
df

In [ ]:
df1=pd.DataFrame(np.arange(12).reshape(3,4),columns=list('abcd'))
df2=pd.DataFrame(np.arange(20).reshape(4,5),columns=list('abcde'))

df2.loc[1,'b']=np.nan
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2)

In [ ]:
df2.add(df1)

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
#sub(),mul,div 를 사용하여 df2의 nan을 0으로 대체하여 연산수행
df2.sub(df1,fill_value=0)

In [ ]:
df2.mul(df1,fill_value=0)

In [ ]:
df2.div(df1,fill_value=0)

In [ ]:
df1.div(df2,fill_value=0)

In [ ]:
df1.reindex(columns=df2.columns,fill_value=0)

In [114]:
df=pd.DataFrame(np.arange(12).reshape(4,3),columns=list('bde'),index=['ut','oh','te','or'])
df

    b   d   e
ut  0   1   2
oh  3   4   5
te  6   7   8
or  9  10  11

In [116]:
srs=df.iloc[0]
srs

b    0
d    1
e    2
Name: ut, dtype: int32

In [117]:
df-srs

    b  d  e
ut  0  0  0
oh  3  3  3
te  6  6  6
or  9  9  9