In [ ]:
# random은 난수를 발생시키는 모듈
import random
random.random() # 0.0에서 1.0 사이의 실수 중에서 난수값을 리턴

In [ ]:
# 1.0 ~ 10.0 사이의 난수값
random.random() * 10

In [ ]:
# random.shuffle()
data = [1,2,3,4,5]
random.shuffle(data)
data

In [ ]:
# 1 ~ 100사이의 임의 짝수를 출력
random.randrange(2,101, 2)

In [ ]:
# 1 ~ 55 사이의 정수중에서 난수값를 리턴
random.randint(1,55)

In [ ]:
# [1,2,3,4,5,6,7,8,9]에서 임의로 3개 선택
numlist = [1,2,3,4,5,6,7,8,9]
random.sample(numlist,3)

In [ ]:
# Q. numbers 내부에 들어있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [ ]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

In [ ]:
num=[3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
setnum=set(num)
sn=[]
lst=[]

for i in setnum:
    lst.append(num.count(i))
    sn.append(i)

for i in zip(sn,lst):
     print(i,end=" ")

In [ ]:
# Q. list [0,1,2,3,4,5,6]을 내림차순으로 출력하세요(2가지 방법)
s = [0,1,2,3,4,5,6]

# 1번째 방법
print(s[::-1])
#2번째 방법
list.reverse(s)
print(s)

In [ ]:
# Q. list = ['a','b','c']을 for문을 사용해서 아래와 같이 출력하세요
# 1번째는 a입니다.
# 2번째는 b입니다.
# 3번째는 c입니다.

li=['a','b','c']
for i, value in enumerate(li):
    print(f'{i+1}번째는 {value}입니다.')

In [ ]:
# Q. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.
li= []
for i in range(0,20,2):
    li.append(i*i)
print(li)

In [ ]:
print([x*x for x in range(0,20,2)])

In [ ]:
print(list(map(lambda i:i*i, range(0,20,2))))

In [ ]:
# Q. join 함수를 이용해서 ['a','b','c']를 아래와 같이 출력하세요.
# a::b::c
'::'.join(['a','b','c'])

In [ ]:
# Q. 두개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후 5, 3을 대입한 결과를 튜플로 출력하세요.(소수점 없음)
def cal(a,b):
    return a+b, a-b, a*b, round(a/b)
#     return a+b
cal(5,3)

In [ ]:
# Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 단 반복적으로 작업을 수행할 수 있음. 
while 1:
    data = input()
    if not data:
        break
    print(data)

In [ ]:
def factorial(n):
    output = 1
    for i in range(1,n+1):
        output *= i
    return output
print(factorial(5))
print(factorial(10))

In [ ]:
# 재귀란 '자기자신을 호출하는 것'을 의미한다. 
# 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요
# factorial(n) = n * factorial(n-1) (n >= 1)

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
 
print(factorial(1))
print(factorial(5))
print(factorial(10))

In [ ]:
# Q. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때의 면적과 둘레를 구하세요.
원 넓이 : PI * radius * radius
원 둘레 : 2 * PI * radius

In [ ]:
def cir(n):
    l=round(3.14*2*n,2)
    s=round(l*n/2,2)
    return l,s
print(cir(5))

In [ ]:
# Q. list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]

In [ ]:
a = [1,2,3,4,5]
for i in range(len(a)):
    a[i] = float(a[i])

print(a)

In [ ]:
a = [1,2,3,4,5]
a = list(map(float,a))
a

In [ ]:
# Q. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina', 'West virginia']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina', 'West virginia']
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        result.append(value)
    return result
clean_strings(states)

In [ ]:
# [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

import re #정규표현식 패키지 

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # 양쪽 공백제거
        value = re.sub('[!#?]','',value) # 특수문자 제거
        value = value.title() # 첫 글자만 대문자로 변경
        result.append(value)
    return result

clean_strings(states)

In [ ]:
# Q. url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
domurl = url.split('/')
domain = domurl[2]
print(domain)

In [ ]:
# Q. url에서 쿼리문을 추출하여 출력하세요
# ?뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp_q = url.split('?')
tmp_q_2 = tmp_q[1]
print(tmp_q_2.split('&'))

In [ ]:
# [과제] 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력하면 총 페이지 수를 출력하는 프로그램을 작성하세요.

In [ ]:
a=int(input("게시물 총 건수 : "))
b=int(input("페이지 게시될 수 : "))

if (a%b)==0:print(f"총 페이지 수 {a//b}:")
else:print(f"총 페이지 수 {a//b+1}:")

In [ ]:
# 랜덤하게 1000명의 이름, 키, 몸무개 만들기
import random
lst=[]
hanguls=list('가나다라마바사아자차카타파하')
with open ('info.txt','w') as f:
    for i in range(1000):
        name=random.choice(hanguls)+random.choice(hanguls)
        a=random.randint(150,200)
        b=random.randint(50,100)
        f.write(f'{name},{a},{b}\n')
        print(f'{name},{a},{b}\n')

In [ ]:
# Q. 1000명에 대하여 아래와 같이 출력하세요
# 이름 : 라바
# 몸무게 : 80
# 키 : 146
    
# 이름 : 라바
# 몸무게 : 80
# 키 : 146
import random
hanguls=list('가나다라마바사아자차카타파하')

with open('info.txt','r') as f:
    data=f.readlines()
    for i in data: 
        a = i.strip().split(',')
        print(f'이름 : {a[0]}\n키 : {a[1]}\n몸무게 : {a[2]}\n')

In [ ]:
# 출력 포멧
with open('info.txt','r') as file:
    for line in file:
        (name,weight,height) = line.strip().split(',')
        print('\n'.join([
            "이름 : {}",
            "몸무게 : {}",
            "키 : {}"
            ]).format(name,height,weight))
        print()

In [ ]:
# [과제] 1000명에 대하여 아래와 같이 출력하세요.
# BMI = round(int(weight) / ((int(height) / 100) ** 2),2)
# 이름 : 라바
# 몸무게 : 80
# 키 : 146
# BMI : 35.56789
# 결과 : 과체중


with open('info.txt','r') as f:
    data=f.readlines()
    for i in data: 
        a = i.strip().split(',')
        bmi=round(int(a[2])/((int(a[1])/100)**2),2)
        print(f'이름 : {a[0]}\n키 : {a[1]}\n몸무게 : {a[2]}\nBMI : {bmi}\n')

In [ ]:
# 
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('data/mydata.txt')
ret = sorted(ret.items(), key=lambda x:x[1],reverse=True)


for c, f in ret:
    if c == '\n':
        continue
    print(f'[{c}] -> [{f}]회 나타남')

In [ ]:
# Q. 아래와 같이 출력하세요
# [ ] -> [177]회 나타남
# [e] -> [97]회 나타남

In [ ]:
# Q. mydata.txt 파일에 들어있는 단어수를 계산하여 출력하세요.

In [ ]:
with open('data/mydata.txt', 'r') as file:
    text = file.read()
    tmp = text.split()    
    print(f'단어수 : {len(tmp)}개')

In [ ]:
# [과제] mydata.txt 파일에서 특정단어 t1을 다른 단어 t2로 변경하여 출력하세요(a -> A)

with open('data/mydata.txt','r') as f:
    s=f.readlines()
    for i in s:
        print(i.replace('a','A'))

In [ ]:

def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('data/mydata.txt')
ret = sorted(ret.items(), key=lambda x:x[1],reverse=True)


for c, f in ret:
    if c == '\n':
        continue
    print(f'[{c}] -> [{f}]회 나타남')

In [ ]:
with open('data/names/yob1880.txt','r') as f:
    data = f.read()
    print(data)

In [ ]:
# [과제] 주어진 데이터에서 1880년에서 2015년까지 연도별 출생아 수를 출력하세요.
1880 201484

for i in range(1880,2016):
    with open(f'data/names/yob{i}.txt','r') as f:
        data=f.readlines()
        sum=0
        for j in data:
            tmp=j.strip().split(',')
            tmp=int(tmp[2])
            sum+=tmp
        print(f'{i}년도 {sum}명')

In [ ]:
# # [도전과제] 연도/성별/출생아수를 구하세요.
# 1880, 90994, 110490

y=input("년도 입력 : ")
with open(f'data/names/yob{y}.txt','r') as f:
    data=f.readlines()
    man=0
    wman=0
    for j in data:
        tmp=j.strip().split(',')
        if (tmp[1]) == ('M'):
            tmp=int(tmp[2])
            man+=tmp
        elif (tmp[1]) == ('F'):
            tmp=int(tmp[2])
            wman+=tmp

    print(f'{y}년도 남:{man}명 여:{wman}명')

In [ ]:
# # [도도전과제] 연도별 인기있는 상위 10개 성별 출생아 이름 구하기
# TOP_1 여자아기이름:('Emily', 25057)
    
y=input("년도 입력 : ")
with open(f'data/names/yob{y}.txt','r') as f:
    cnt=0
    ct=0
    data=f.readlines()
    for j in data:
        tmp=j.strip().split(',')
        if cnt <10:
            cnt+=1
            tmp[1]='여자아이'
            print(f'{y}년도 TOP{cnt} {tmp[1]} 성별 이름:{tmp[0]}')
        
        elif tmp[1]=='M':
            if ct<10:
                ct+=1
                tmp[1]='남자아이'
                print(f'{y}년도 TOP{ct} {tmp[1]} 성별 이름:{tmp[0]}')

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv(f'data/names/yob1880.txt', sep = ",", encoding = "utf-8", names=['name','sex','count'])
for i in range(1880,2019):
    df1 =pd.read_csv(f'data/names/yob{i+1}.txt', sep = ",", encoding = "utf-8", names=['name','sex','count'])
    df= pd.concat([df,df1])

df = df.groupby(by=['name','sex']).sum().groupby(level=[0,1]).cumsum()
df = df.sort_values(by=df.columns[0],ascending=False)
df

In [ ]:
import seaborn as sns

tt = sns.load_dataset('titanic')
tt.head()

In [ ]:
tt.age.plot(kind='hist')

In [ ]:
# age 변수를 10, 20, 30, 40, 50, 60이상 범주로 구분하여 age_cat 변수를 생성하세요.
tt.age

In [ ]:
def age_cat(age):
    cat = ''
    if age < 20: cat = '10'
    elif age < 30: cat = '20'
    elif age < 40: cat = '30'
    elif age < 50: cat = '40'
    elif age < 60: cat = '50'
    else: cat = '60'
    return cat
tt['age_cat'] = tt['age'].apply(lambda x:age_cat(x))
tt.age_cat
tt[['age','age_cat']].head()

In [ ]:
from urllib.request import urlopen

imgurl = 'https://imagescdn.gettyimagesbank.com/500/21/349/383/0/1324943224.jpg'
imgname = imgurl.split('/')[-1]

try:
    with urlopen(imgurl) as f:
        with open('data/imgname.jpg','wb') as h:
            img = f.read()
            h.write(img)
except Exception as e:
    print(e)

In [ ]:
!pip install Pillow

In [ ]:
from PIL import Image
im = Image.open('data/imgname.jpg')
im.show()

### 모듈
- 특정 기능들 ( 함수, 변수, 클래스 등)이 구현 되어있는 파이썬 파일(.py)

### 패키지
- 특정 기능과 관련된 여러 모듈들을 하나의 상위 폴더에 넣어놓은 것을 의미
- 패키지 안에 여러가지 폴더 존재 가능
- 패키지를 표현해주기 위해 _init_.py 존재

### 라이브러리
- 여러모듈과 패키지를 묶어 라이브러리라고 함
- 파이썬 설치시 기본적으로 설치되는 라이브러리를 표준라이브러리 라고 함
- 외부 3rd party에서 개발한 모듈과 패키지를 외부라이브러리 라고 함

In [ ]:
#모듈 구현
with open('mod1.py','w') as f:
    f.write("""
def add(x,y):
    return x+y
print(add(3,4))
    """)

In [ ]:
with open('mod1.py','r') as f:
    s=f.read()
    print(s)

In [ ]:
!python mod1.py

In [ ]:
import mod1

In [ ]:
with open('mod2.py','w') as f:
    f.write("""
def add(x,y):
    return x+y
    
if __name__=="__main__":
    print(add(3,4))
    """)

In [ ]:
with open('mod2.py','r') as f:
    s=f.read()
    print(s)

In [ ]:
!python mod2.py

In [ ]:
import mod2

mod2.add(2,3)

In [ ]:
!dir

In [ ]:
import os
f=os.popen('dir')
f.read()

In [ ]:
#파일복사
import shutil
shutil.copy('info.txt','text1.txt')

In [ ]:
!dir

In [ ]:
#Thread
import time
def long_task():
    for i in range(1,6):
        time.sleep(1)
        print(f'working :{i}\n')
print('start')
print(long_task())
print('end')

In [ ]:
import time
import threading

def long_task():
    for i in range(1,6):
        time.sleep(1)
        print(f'working :{i}\n')
        
print('start')
threads=[]
for i in range(5):
    t=threading.Thread(target=long_task)
    threads.append(t)
for t in threads:
    t.start()
for t in threads:
    t.join()

print('end')